.backtotop{
    width: 40px;
    height: 40px;
    border:1px solid $gold;
    border-radius: 50%;
    position: fixed;
    bottom:30px;
    right:30px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    transition: all 0.2s;
    display: none;
    &--show{
        display: flex;
    }
    &:hover{
        cursor:pointer;
        background-color: rgba(183,157,99,0.3);
    }
    img{
        position: relative;
        top:-1px;
    }
    @media(max-width:768px){
        right: 15px;
        bottom:15px;
        // background: rgba(255,255,255,0.7);
    }
}