/*COLORS*/
$gold-dark:#A37A55;
$gold-medium:#B79763;
$black-dark:#292827;
$black-medium:#33312F;
$black-tint-grey:#F1F1EF;
$gold-tint-light:#F4F1E5;
$gold-tint-medium:#EAE5D1;
$brown:#33312F;
$white:#FFFFFF;
$grey:#707070;
$nav-font:#F0F0F0;
