.weAreForU{
    &__header{
        margin-bottom: 60px;
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 96px;
            text-align: center;
            margin-bottom: 20px;
            @media screen and (max-width: 991px){
                font-size: 25px;
                margin-bottom: 10px;
                line-height: 100%;
            }
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            margin: 0;
            @media screen and (max-width: 991px){
                font-size: 15px;
            }
        }
    }
    .formBox{
        padding: 38px 72px 54px;
        background: #ffffff;
        position: relative;
        @media screen and (max-width: 767px){
            background: none;
            padding: 0 15px;
            &__inner{
                background: #fff;
                padding: 20px 15px;
            }
        }
        @media screen and (min-width:768px) and (max-width: 1199px){
            padding: 38px;
        }

        &__top{
            h2{
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 140%;
                margin-bottom: 12px;
                @media screen and (max-width: 767px){
                    font-size: 20px;
                }
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                margin-bottom: 40px;
                margin-top: 0;
            }
        }
        .formDescUnder{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
            margin-bottom: 18px;
        }
        .preExpand,
        .postExpand,
        .expand{
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
        }
        .postExpand{
            display: none;
        }
        .formInfo{
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 160%;
            margin-top: 15px;
        }
        .expand{
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
        }
        .tab{
            display: none;
            position: absolute;
            top: 221px;
            right: -37px;
            padding: 10px 40px;
            @media screen and (max-width: 767px){
                top: 140px;
                right: auto;
                left: 15px;
                padding: 10px 15px;
                width: calc(100% - 110px);
            }
            p{
                margin: 0;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                @media screen and (max-width: 767px){
                    br{
                        display: none;
                    }
                    width: 100%;
                    max-width: 280px;
                }
            }
            &__pre{
                position: absolute;
                top: 0;
                left: -23px;
                @media screen and (max-width: 767px){
                    top: -4px;
                    right: -20px;
                    transform: rotate(180deg);
                    svg{
                        height: 60px;
                    }
                }
            }
            &__post{
                position: absolute;
                bottom: -24px;
                right: 0;
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
        }
        .inputBox{
            svg{
                path{
                    stroke: #8D8D9A;
                }
            }
            &--invalid{
                svg{
                    path{
                        stroke: #D30000;
                    }
                }
                .input--tel,
                .input--name{
                    color: #D30000;
                    border-bottom: 1px solid #D30000;
                    &::placeholder{
                        color: #D30000;;
                    }
                }
            }
            &--name,
            &--tel{
                position: relative;
                input{
                    padding: 16px 0 16px 50px;
                    height: auto;
                    border: 0;
                    border-bottom: 1px solid #8D8D9A;

                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    width: 100%;
                    margin-bottom: 20px;
                    &::placeholder{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                    }
                }
            }
            &--name{
                svg{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 15px;
                    left: 10px;
                    z-index: 2;
                }
            }
            &--tel{
                svg{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 15px;
                    left: 10px;
                    z-index: 2;
                }
            }
            &--select{
                select{
                    display: none;
                }
                .select{
                    position: relative;
                }
                .custom-select{
                    padding: 16px 0 16px 50px;
                    height: auto;
                    border-bottom: 1px solid #8D8D9A;

                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    cursor: pointer;
                    transition-duration: .2s;
                    &.active{
                        background: #F3F5F8;
                    }
                }
                .select-options{
                    display: none;
                    background: #F3F5F8;
                    margin: 0;
                    position: absolute;
                    width: 100%;
                    top: 57px;
                    border-bottom: 2px solid #BF9875;
                    padding: 0 5px 0 52px;
                    list-style: none;
                    z-index:9;
                    li{
                        &:nth-child(1){
                            display: none;
                        }
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        color: #0B345A;
                        cursor: pointer;
                        margin-bottom: 24px;
                        display: flex;
                        align-items: center;
                        svg{
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            background: #ffffff;
                            border: 1px solid #0B345A;
                            margin-right: 14px;
                            padding: 4px;
                            transition: ease-in-out .2s;
                            path{
                                stroke: #ffffff;
                            }
                        }
                        &:hover,
                        &.current{
                           svg{
                            background: #BF9875;
                            border: 1px solid #BF9875;
                           }
                        }
                    }
                     
                }
                .clock{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 15px;
                    left: 10px;
                    z-index: 2;
                }
                .arrow{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    z-index: 2;
                }
            }
            &--checkbox{
                display: flex;
                margin-bottom: 5px;
                input{
                    -webkit-appearance: none;
                    margin: 0 10px 0 0;
                    &::before{
                        border: 1px solid #0B345A;
                        border-radius: 3px;
                    }
                }
            }
        }
        input[type=submit]{
            margin-top: 30px;
            border: 0;
            padding: 17px 69px;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @media screen and (max-width: 767px){
                padding: 17px 20px;
            }
            &.buttonStyle{
                &--0{
                    border: 1px solid transparent;
                }
                &--1{
                    border: 1px solid #fff;
                }
            }
        }
         @media screen and (max-width: 991px){
            order: 2;
        }
        .form-plots-header{
            display: none;
        }
    }
    form .wpcf7-not-valid-tip{
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 160%;
        color: #D30000;
        font-family: 'Inter';
        margin-top: 5px;
    }
}