.page-blog {
    .singlePost {
        // padding-top: 150px;
        .singlePost-hero {
            &__header {
                margin-top: 40px;
                font-size: 48px;
            }
            &__img {
                margin-top: 30px;
            }
            .singlePost-info {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                .singlePost-datainfo {
                    display: flex;
                    align-items: center;

                    &__author {
                        display: flex;
                        align-items: center;
                    }
                    &__authorImg {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    &__authorName {
                        margin-left: 10px;
                        font-size: 16px;
                        font-weight: 700;
                        transition: all 0.2s;
                        &:hover {
                            color: $gold;
                        }
                    }
                    &__sep {
                        width: 4px;
                        height: 4px;
                        background-color: $grey;
                        border-radius: 50%;
                        margin: 0 20px;
                    }
                    &__data {
                        font-size: 14px;
                        color: $grey;
                    }
                    .singlePost-data {
                    }
                }
                .singlePost-terms {
                    display: flex;
                    flex: 1;
                    gap: 10px;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    margin-left: 100px;
                    &__item {
                        font-size: 14px;
                        color: white;
                        padding: 10px 15px;
                        background-color: $gold;
                        border-radius: 80px;
                    }
                }
            }
            @media (max-width: 991px) {
                &__header {
                    margin-top: 0;
                    font-size: 22px;
                }
                &__img {
                    margin-top: 10px;
                }
                .singlePost-info {
                    .singlePost-terms {
                        align-items: center;
                        margin-left: 50px;
                        &__item {
                            font-size: 12px;
                            padding: 6px;
                            border-radius: 12px;
                        }
                    }
                    .singlePost-datainfo {
                        &__authorName {
                            font-size: 12px;
                        }
                        &__sep {
                            margin: 0 5px;
                        }
                        &__data {
                            font-size: 12px;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                .singlePost-info {
                    display: flex;
                    flex-direction: column;
                    .singlePost-terms {
                        margin-top: 10px;
                        justify-content: flex-start;
                        margin-left: 0;
                        gap: 10px;
                    }
                }
            }
        }
        .singlePost-wrap {
            margin-top: 40px;
           
            .share-wrap {
                position: relative;
                .share {
                    margin: 0;
                    padding: 0;
                    &__item {
                        list-style: none;
                        margin-bottom: 20px;
                        a {
                            &:hover {
                                svg {
                                    path {
                                        fill: rgb(46, 45, 77);
                                    }
                                }
                            }
                        }
                    }
                }
                &__text {
                    position: relative;
                    left: 12px;
                    writing-mode: vertical-lr;
                    transform: rotate(-180deg);
                    text-align: right;
                    span {
                        display: block;
                        font-size: 14px;
                        color: $grey;
                    }
                }
            }
            @media (max-width: 991px) {
                .row {
                    flex-direction: column-reverse;
                }
                margin-top: 10px;
                .share-wrap {
                    .share {
                        display: flex;
                        &__item {
                            margin-right: 10px;
                            margin-bottom: 10px;
                            a {
                                svg {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                        }
                    }
                    &__text {
                        display: none;
                    }
                }
            }
        }
        .singlePost-content {
            @media (max-width: 991px) {
                h3,
                h2,
                h1 {
                    font-size: 22px;
                    line-height: normal;
                }
                h4 {
                    font-size: 20px;
                    line-height: normal;
                }
                h5 {
                    font-size: 18px;
                    line-height: normal;
                }
                h6 {
                    font-size: 16px;
                    line-height: normal;
                }
            }
        }
        .singlePost-authorFull {
            margin-top: 40px;
            padding-top: 40px;
            border-top: 1px solid #edeff5;
            display: flex;
            align-items: flex-start;
            &__img {
                width: 166px;
                height: 166px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &__content {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-left: 30px;
            }
            &__name {
                color: $dark-blue;
                font-size: 16px;
                font-weight: 700;
            }
            &__position {
                color: #8d8d9a;
                margin-top: 5px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: bold;
            }
            &__desc {
                font-size: 14px;
                line-height: 150%;
                color: $dark-blue;
                margin-top: 20px;
            }
            @media (max-width: 991px) {
                &__img {
                    width: 100px;
                    height: 100px;
                }
                &__content {
                    margin-left: 10px;
                }
            }
        }
        .singlePost-newsletter {
            margin-top: 100px;
            padding: 40px 30px;
            background-color: #f9f9fa;
            &__header {
                h3 {
                    font-size: 26px;
                    color: $dark-blue;
                }
                span {
                    display: block;
                    margin-top: 10px;
                    font-size: 16px;
                    color: $dark-blue;
                }
            }
            form {
                margin-top: 50px;
            }
            form input[type="text"],
            form input[type="email"] {
                background-color: rgb(249, 249, 250);
                &:hover {
                    border-bottom: 1px solid rgb(183, 157, 99);
                }
            }
            &__right {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: flex;
                margin-top: 40px;
            }
            @media (max-width: 991px) {
                margin-top:60px;
                padding: 20px;
                &__header {
                    h3 {
                        font-size: 22px;
                    }
                }
                form{
                    margin-top:20px;
                }
                &__right{
                    margin-top:10px;
                }
            }
        }
        .singlePost-nav {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            @media(max-width:991px){
                display: none;
            }
        }

        .slider-expert {
            margin-top: 120px;
            padding: 0;
            background-color: white;
            &__header {
                font-size: 32px;
                font-weight: 700;
                color: rgb(46, 45, 77);
            }
            &__ico {
                display: none;
            }
            .slider-expert-loop {
                &__item {
                    background: #f9f9fa;
                }
            }
            @media(max-width:991px){
                margin-top:40px;
            }
        }
    }
}
