/*COLORS*/
$grant: #0b345a;
$blue: #748ba0;
$white: #ffffff;
$red: #b41818;
$green: #397d03;
$orange: #df9401;
$yellow: #f8e29f;
$gold: #b68b1d;
$grey-slider: #b9c4cf;
$grey-text: #707070;
$granat-dark: #252933;
$granat-background: #071c30;
