* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    color: $grant;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

:focus {
    outline: 0 !important;
}

.fancybox-container{
    z-index: 99999999;
}
// remove margin from fancybox
.compensate-for-scrollbar{
    margin-right: 0 !important;
}