.btn {
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: $gold;
    border: 1px solid #b79d63;
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    &:after {
        position: absolute;
        content:"";
        z-index: -1;
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
        background-color: $gold;
        transition: all 0.3s;
    }
    &:hover{
        color:white;
        &:after{
            width: 100%;
        }
    }
    @media(max-width:767px){
        padding:10px 20px;
    }
}
