.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.2em;
    cursor: pointer;
    padding: 16px 22px;
    background-color: #bf9875;
    &:hover {
        background: #916137;
    }
    @media (max-width: $sm) {
        font-size: 12px;
    }
}
