/*COLORS*/
$Sand-Tint: #F7F1EB;
$Grey:#707070;
$Sand-Light-Very: #E0C6AF;
$Sand-Light: #D6B292;
$Sand-Medium: #BF9875;
$Sand-Medium-hover:#906137;
$Sand-Dark:#443401;
$Blue-Tint:#E5EBF0;
$Blue-Medium:#6892B8;
$Blue-Dark:#0B345A;
$White:#ffffff;
$Town:#CDD7C8;
$Gold: #b68b1d;
$granat-background:#071C30;
/*Gradient*/
$Earth:linear-gradient(149.35deg, #B3DB96 18.6%, #ACCD77 95.61%);
$Plaza:linear-gradient(264deg, #E3BB6D -2.42%, #FEEFBA 98.35%);
$Blue-Sea:linear-gradient(284.43deg, #55A7CB 28.88%, #A6E3FD 108.83%);