/*COLORS*/
$Sand-Tint: #F7F1EB;
$Grey:#707070;
$Sand-Light-Very: #E0C6AF;
$Sand-Light: #D6B292;
$Sand-Medium: #BF9875;
$Sand-Medium-hover:#906137;
$Sand-Dark:#443401;
$Blue-Tint:#E5EBF0;
$Blue-Medium:#6892B8;
$Blue-Dark:#0B345A;
$White:#ffffff;
$Town:#CDD7C8;
$Gold: #b68b1d;
$granat-background:#071C30;
