// /*FONT*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,600&family=Inter:wght@300;400;500;600;700&family=Raleway:ital,wght@1,200;1,300&display=swap');
$garamond: "EB Garamond", serif;
$inter: 'Inter', sans-serif;
$raleway: 'Raleway', sans-serif;

// /*   Resolution  */
$xxxl: 1679px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

// /*styl-fonts*/
h1 {
    font-size: 82px;
    line-height: 108px;
    @media (max-width: $lg) {
        font-size: 60px;
    }
}

h2 {
    font-size: 68px;
    line-height: 120%;
    @media (max-width: $lg) {
        font-size: 42px;
    }
}
h3 {
    font-size: 56px;
    line-height: 120%;
    @media (max-width: $lg) {
        font-size: 36px;
    }
}
h4 {
    font-size: 42px;
    line-height: 55px;
    @media (max-width: $lg) {
        font-size: 32px;
    }
}

h5 {
    font-size: 40px;
    line-height: 52px;
    @media (max-width: $lg) {
        font-size: 30px;
    }
}
h6 {
    font-size: 32px;
    line-height: 38px;

    @media (max-width: $lg) {
        font-size: 24px;
    }
}
.f-h1,
.f-h2,
.f-h3,
.f-h4,
.f-h5,
.f-h6{
    font-family: $garamond;
    font-style: normal;
    color: $Blue-Dark;
    font-weight: 400;
    &--white {
        color: $White;
    }
    &--sand-dark {
        color: $Sand-Dark;
    }
    &--sand-medium {
        color: $Sand-Medium;
    }
    &--fw500 {
        font-weight: 500;
    }
    &--fw600 {
        font-weight: 600;
    }
    &--ls2 {
        letter-spacing: 0.2em;
    }
    @media (max-width: $xxl) {
        line-height: normal;
    }
    &--f20 {
        font-size: 20px;
        line-height: 34px;
        @media (max-width: $lg) {
            font-size: 12px;
        }
    }
}

.text-main,
p {
    font-family: $inter;
    font-style: normal;
    color: $Blue-Dark;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    @media (max-width: $lg) {
        font-size: 14px;
    }
    &--f11 {
        font-size: 11px;
        line-height: 16px;
    }
    &--f12 {
        font-size: 12px;
        line-height: 19px;
    }
    &--f14 {
        font-size: 14px;
        line-height: 22px;
    }
    &--f15 {
        font-size: 15px;
        line-height: 18px;
    }
    &--f18 {
        font-size: 18px;
        line-height: 22px;
    }
    &--f20 {
        font-size: 20px;
        line-height: 180%;
        @media (max-width: $xl) {
            font-size: 14px;
        }
    }
    &--fw300 {
        font-weight: 300;
    }
    &--fw400 {
        font-weight: 400;
        line-height: 150%;
    }
    &--fw500 {
        font-weight: 500;
    }
    &--fw600 {
        font-weight: 600;
    }    
    &--fw700 {
        font-weight: 700;
    }
    &--white {
        color: $White;
    }
    &--blue-medium {
        color: $Blue-Medium;
    }
    &--blue-tint {
        color: $Blue-Tint;
    }
    &--grey {
        color: $Grey;
    }
    &--sand-light {
        color: $Sand-Light;
    }
    &--sand-light-very  {
        color: $Sand-Light-Very;
    }
    &--sand-dark {
        color: $Sand-Dark;
    }
    &--ls2 {
        letter-spacing: 0.02em;
    }
    &--ls3 {
        letter-spacing: 0.3em;
    }
    &--ls4 {
        letter-spacing: 0.04em;
    }
    &--ls8 {
        letter-spacing: 0.085em;
    }
    &--opacity7{
        opacity: 0.7;
    }
    &--opacity5{
        opacity: 0.5;

    }
    @media (max-width: $xxl) {
        line-height: 23px;
    }
}

.f-special {
    font-family: $raleway;
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
    color: $White;
}

.f-testimonial {
    font-family: $garamond;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 100px;
    @media (max-width: $lg) {
        font-size: 52px;
    }
    &--f112 {
        font-size: 112px;
        line-height: 146px;
        @media (max-width: $lg) {
            font-size: 68px;
        }
    }

}
