@import "../../../node_modules/select2/dist/css/select2.min.css";

[data-plots-map] {
    position: relative;

    [data-plots-sectors] {
        display: block;
    }

    [data-plots-sector] {
        display: none;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 1920px;
    }

    [data-plots-info] {
        display: none;
        position: absolute;
        left: 100px;
        top: 100px;
        z-index: 3;
        background: #ffffff;
        pointer-events: none;

        &.stay-visible {
            pointer-events: all;
        }
    }

    [data-plots-sector] .plots-map__img,
    [data-plots-sectors] .plots-map__img {
        // position: absolute;
        // left: 0;
        // top: 0;
    }

    .plot-sectors,.plot-sector {
        &__svg {
            max-width: 1920px;
            .plot-status {
                &--sprzedana {
                    path {
                        fill: #b41818;
                        // opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &--wolna {
                    path {
                        fill: #397d03;
                        // opacity: 0.8;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &--zarezerwowana {
                    path {
                        fill: #df9401;
                        // opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            path {
                cursor: pointer;
                transition: 0.1s !important;

                &:hover {
                }
            }

            text {
                pointer-events: none;
                fill: #ffffff;
            }
        }
    }
    // [data-plots-sector] .plots-map__svg,
    // [data-plots-sectors] .plots-map__svg {
    //     // position: relative;
    //     // z-index: 1;
    // }

    .plots-map__back-btn {
        position: absolute;
        z-index: 2;
    }
}

[data-plot-list] {
    .select2 {
        min-width: 100px;
    }

    .plot-list__sorting {
        display: flex;
        margin: 0 -20px;

        &__item {
            display: flex;
            margin: 0 20px;
            align-items: center;

            &__direction {
                display: flex;
                flex-direction: column;
                margin-left: 5px;

                button {
                    margin: 3px 0;
                }
            }
        }
    }

    [data-plot-list-plot-template],
    [data-plot-list-baner-template] {
        display: none !important;
    }
}
