.ik-about {
    position: relative;
    @media (max-width: $xl) {
        margin-top: 80px;
    }
    // .cloud-ekladno{
    //     width: 100%;
    //     height: 104px;
    //     background: url("../img/invest-kladno/about/clouds.png");
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     background-size: cover;
    //     left: 0;
    //     z-index: 100;
    //     border:3px solid red;
    //     z-index: 9999;
    //     top:0px;
        
    // }
    margin-top: 100px;
    
    .hero1-about {
        position: relative;
        height: 785px;
        width: 100%;
        background: url("../img/invest-kladno/about/about-header.jpg");
        background-size: auto;
        background-position: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 999;
        &__box {
            margin-bottom: 50px;
            padding: 55px 70px 60px 55px;
            border: 1px solid $gold;
            background: rgba(255, 255, 255, 0.9);
            .text-main {
                margin-top: 30px;
            }
        }
        @media (max-width: $xxl) {
            &__box {
                padding: 50px 40px 40px 50px;
            }
        }
        @media (max-width: $xl) {
            justify-content: flex-start;
            &__box {
                margin-top: 40px;
                padding: 35px 35px 30px 35px;
                .text-main {
                    margin-top: 20px;
                }
            }
        }
    }
    ///////////////////////////
    .scroll-bottom {
        margin: 50px 0 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $lg) {
            margin: 50px 0 40px;
        }
    }

    /////////////////////////////
    .about-background {
        position: relative;
        height: 2038px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        
        .about-background-photo {
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .icon-ostoja {
            margin: 45px 0 100px;
            z-index: 2;
            position: relative;

            .row {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: -65px;
                    width: 105vw;
                    height: 100%;
                    border-top: 1px solid $gold;
                    border-right: 1px solid $gold;
                    border-bottom: 1px solid $gold;
                }
            }
            &__content {
                margin: 120px 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 90px 15px;

                .content-boxs {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    .content-box {
                        flex-basis: 22%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        h6 {
                            margin-top: 15px;
                            text-align: center;
                        }
                        p {
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
            }
            @media (max-width: $xxl) {
                .content-box {
                    h6 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
        @media (max-width: $xl) {
            height: 1300px;
            .icon-ostoja {
                margin: 10px 0 100px;
                &__content {
                    flex-wrap: nowrap;
                    overflow: scroll;
                    max-width: 100%;
                    padding-bottom: 40px;
                    margin: 30px 0;
                    gap: 30px 15px;
                    .content-boxs {
                        gap: 30px;
                        .content-box {
                            position: relative;
                            min-width: 220px;
                            img {
                                width: 50%;
                            }
                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            &__content {
                flex-wrap: nowrap;
                overflow: scroll;
                max-width: 100%;
                padding-bottom: 40px;
                margin: 30px 0;
                gap: 30px 15px;
                .content-boxs {
                    gap: 30px;
                    .content-box {
                        position: relative;
                        min-width: 220px;
                        img {
                            width: 50%;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        @media (max-width: $md) {
            .icon-ostoja {
                .row {
                    padding: 0 15px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        right: 15px;
                        width: calc(100% - 30px);
                        height: 100%;
                        border: 1px solid $gold;
                    }
                }
            }
        }

        .financing-ostoja {
            display: flex;
            justify-content: center;
            padding-bottom: 240px;
            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2,
                p {
                    text-align: center;
                    margin-top: 30px;
                }
                .btn {
                    display: none;
                    margin-top: 50px;
                }
            }
        }
        @media (max-width: $xl) {
            .financing-ostoja {
                padding-bottom: 100px;
            }
        }
    }

    ///////////////////////
    .location-ostoja {
        padding: 180px 0 0;
        width: 100%;
        height: auto;
        .row {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: -65px;
                width: 105vw;
                height: 100%;
                border-top: 1px solid $gold;
                border-left: 1px solid $gold;
                border-bottom: 1px solid $gold;
                z-index: 999;
                pointer-events: none;
            }
        }
        &__border {
            border-top: 1px solid $gold;
            border-left: 1px solid $gold;
            border-bottom: 1px solid $gold;
        }
        &__content {
            position: relative;
            padding: 140px 0 70px;

            min-height: 715px;
            .contnet-text {
                .text-main {
                    margin-top: 30px;
                }
            }
        }
        &__photo {
            position: relative;
            top: -70px;
            left: 0;
            width: 50vw;
        }
        @media (max-width: 1199px) {
            padding: 100px 0 0;
            &__content {
                position: relative;
                padding: 40px 0 40px;
                min-height: auto;
                .contnet-text {
                    .text-main {
                        margin-top: 30px;
                    }
                }
                .btn {
                    margin-top: 30px;
                }
            }
            &__photo {
                position: relative;
                top: 0px;
                right: 0;
                width: 100%;
                margin-bottom: 40px;
            }
        }
        @media (max-width: 767px) {
            padding: 50px 0 0;
            .row {
                padding: 0 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    width: calc(100% - 30px);
                    height: 100%;
                    border: 1px solid $gold;
                }
            }
            &__content {
                padding: 30px 0 30px;
            }
            &__photo {
                margin-bottom: 30px;
            }
        }
    }
}
