.ik-frontpage {
    margin-top: 100px;
    @media (max-width: $xl) {
        margin-top: 80px;
    }
    @media (max-width: $lg) {
        margin-top: 0px;
    }
    .front-slider {
        height: 884px;
        width: 100%;
        .swiper-slide {
            padding: 75px 0 75px;
            .front-slider-photo {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 875px;
                width: 100%;
                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }
            .front-slider-logo {
                margin-left: -80px;
            }
            .front-slider-content {
                margin-top: 195px;
                padding: 40px 50px 100px 50px;
                background: rgba(255, 255, 255, 0.9);
                border: 1px solid $gold;
                width: fit-content;
                position: relative;
                .front-slider-pagination {
                    position: absolute;
                    left: auto;
                    right: 50px;
                    top: 70px;
                    bottom: auto;
                    .swiper-pagination {
                        position: relative;
                        left: auto;
                        top: 140px;
                        bottom: auto;
                        right: auto;
                        transform: none;
                        width: auto;
                        .swiper-pagination-bullet {
                            background-color: $grey-slider;
                            width: 37px;
                            height: 3px;
                            border-radius: 0;
                            opacity: 1;
                        }

                        .swiper-pagination-bullet-active {
                            background-color: $gold;
                            width: 37px;
                            height: 3px;
                            border-radius: 0;
                            opacity: 1;
                        }
                    }
                }
                .front-slider-content-swiper {
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: auto;
                    bottom: 45px;
                    right: auto;
                    left: 60px;

                    .swiper-button-prev {
                        position: relative;
                        left: -13px;
                        margin: 0px;
                        width: 24px;
                        height: 24px;
                        background-image: url("../img/invest-kladno/home-page/chevron-right.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        &:after {
                            display: none;
                        }
                    }
                    .swiper-button-next {
                        position: relative;
                        margin: 0px;
                        width: 24px;
                        height: 24px;
                        background-image: url("../img/invest-kladno/home-page/chevron-left.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        @media (max-width: $xl) {
            .swiper-slide {
                .front-slider-logo {
                    margin-left: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .front-slider-content {
                    &__text {
                        .f-h5 {
                            font-size: 30px;
                        }
                    }
                    .front-slider-pagination {
                        .swiper-pagination {
                            top: 110px;
                        }
                    }
                }
            }
        }
        @media (max-width: $lg) {
            height: auto;
            .swiper-slide {
                padding: 60px 0 0px;
                .front-slider-photo {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    height: auto;
                    width: 100%;
                    img {
                        position: relative;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }
                .front-slider-logo {
                    display: none;
                }
                .front-slider-content {
                    margin-top: 20px;
                    padding: 0;
                    background: white;
                    border: 1px solid transparent;
                    width: 100%;
                    height: auto;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    &__text {
                        .f-h5 {
                            font-size: 25px;
                            text-align: center;
                        }
                    }
                    .front-slider-pagination {
                        display: none;
                    }
                    .front-slider-content-swiper {
                        display: inline-flex;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        top: 25px;
                        bottom: auto;
                        right: auto;
                        width: 100%;
                        left: 0;
                        .swiper-button-prev {
                            left: -10px;
                            width: 40px;
                            height: 40px;
                            background-size: 100%;
                        }
                        .swiper-button-next {
                            right: -10px;
                            width: 40px;
                            height: 40px;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
        @media (max-width: $md) {
            .swiper-slide {
                .front-slider-content {
                    &__text {
                        .f-h5 {
                            font-size: 18px;
                            text-align: center;
                        }
                    }
                    .front-slider-content-swiper {
                        top: 20px;
                        .swiper-button-prev,
                        .swiper-button-next {
                            width: 30px;
                            height: 30px;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
        @media (max-width: $sm) {
            .swiper-slide {
                .front-slider-content {
                    &__text {
                        .f-h5 {
                            font-size: 12px;
                        }
                    }
                    .front-slider-content-swiper {
                        top: 7px;
                    }
                }
            }
        }
    }
    //////////////////////////////
    .scroll-bottom {
        margin: 50px 0 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $xl) {
            margin: 30px 0 30px;
        }
    }

    //////////////////////////////
    .around-video {
        padding: 70px 0 0;
        width: 100%;
        height: auto;
        position: relative;
        .row {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: -65px;
                width: 105vw;
                height: 100%;
                border-top: 1px solid $gold;
                border-right: 1px solid $gold;
                border-bottom: 1px solid $gold;
            }
        }
        &__movie {
            position: absolute;
            top: -70px;
            right: 0;
            left: auto;
            width: 60vw;
            // height: 630px;
            overflow: hidden;
            a {
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: all 0.2s;
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 66px;
                height: 66px;
                background: url(../img/invest-kladno/home-page/icon-play-movie.png);
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.2s;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 9;
                pointer-events: none;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(2, 29, 23, 0.534);
                left: 0;
                top: 0;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
                pointer-events: none;
            }
            &:hover {
                &::after {
                    content: "";
                    background-color: transparent;
                    // background: #b68b1d;
                    // opacity: 0.4
                }
            }
            &:hover {
                a {
                    img {
                        filter: blur(5px);
                    }
                }
            }
        }
        &__content {
            position: relative;
            padding: 140px 0 70px;
            min-height: 630px;
            .contnet-text {
                .text-main {
                    margin-top: 30px;
                }
            }
        }
        @media (max-width: $xxl) {
            padding: 100px 0 0;
            .row {
                flex-direction: column-reverse;
            }
            &__movie {
                position: relative;
                top: 0px;
                width: 100%;
                overflow: hidden;
                margin-bottom: 40px;
            }
            &__content {
                padding: 40px 0 40px;
                min-height: auto;
            }
        }

        @media (max-width: $lg) {
            padding: 50px 0 0;
        }
        @media (max-width: $md) {
            padding: 0 0;
            .row {
                padding: 0 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 15px;
                    width: calc(100% - 30px);
                    height: 100%;
                    border: 1px solid $gold;
                }
            }
            &__content {
                padding: 30px 0 30px;
            }
            &__movie {
                margin-bottom: 30px;
                &::before {
                    width: 55px;
                    height: 55px;
                }
            }
        }
    }
    //////////////////////////////////
    .kladno-background {
        min-height: 2401px;
        display: flex;
        flex-direction: column;
        padding: 150px 0;
        position: relative;
        &__bg{
            background: url(../img/invest-kladno/animation/1.png);
            background-size: cover;
            position: absolute;
            top:335px;
            left:0;
            height: 1249px;
            width: 100%;
            z-index: 1;
            @media(max-width:1200px){
                display: none;
            }
        }
        &:before {
            z-index: 2;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 840px;
            background: linear-gradient(
                179.38deg,
                rgba(14, 129, 194, 0.86) 0.53%,
                #0086d1 14.19%,
                rgba(104, 186, 245, 0.99) 68.42%,
                rgba(208, 235, 255, 0) 88.71%,
                rgba(255, 255, 255, 0) 98.58%
            );
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 935px;
            z-index: 9999;
            background: linear-gradient(
                180deg,
                rgba(174, 255, 236, 0) 0%,
                rgba(47, 239, 228, 0) 5.05%,
                rgba(21, 179, 169, 0.21) 11.74%,
                rgba(0, 142, 151, 0.74) 23.2%,
                #008a9d 37.2%,
                #0c6fa7 96%
            );
        }
        @media (max-width: 1199px){
            min-height: auto;
            background: url(../img/invest-kladno/home-page/background-view.jpg);
            background-size: cover;
            background-position: center;
            padding: 50px 15px;
            &:before{
                height: 500px;
            }
            &:after{
                height: 750px;;
            }
        }
        .wave {
            position: absolute;
            width: 100%;

            // border: 3px solid green;
            background-repeat: no-repeat;
            background-size: contain;
            left: 0;
            z-index: 100;

            &--2 {
                top: 780px;
                height: 809px;
                // border: 2px solid red;
                z-index: 99;
                background-position: bottom;
                background: url(../img/invest-kladno/animation/2.png);
            }
            &--3 {
                height: 769px;
                top: 940px;
                // border: 2px solid #e2ff57;
                z-index: 99;
                background-position: bottom;
                background: url(../img/invest-kladno/animation/3.png);
            }
            &--4 {
                height: 545px;
                top: 1530px;
                // border: 2px solid #00ff00;
                z-index: 999;
                background-position: bottom;
                background: url(../img/invest-kladno/animation/4.png);
            }
            &--5 {
                // border: 2px solid red;
                top: 1600px;
                // height: 418px;
                height: 550px;
                background-size: cover !important;
                z-index: 9999;
                background-position: bottom;
                background: url(../img/invest-kladno/animation/5.png);
            }
            @media(max-width:1199px){
                &--2{
                    display: none;
                }
                &--3{
                    display: none;
                }
                &--4{
                    top:946px;
                }
                &--5{
                    display: none;
                }
            }
        }

        .information-ostoja {
            position: relative;
            z-index: 3;
            &__content {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 20px 145px;
                .content-info {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 73%;
                    &__test {
                        margin-top: 80px;
                    }
                    &__name {
                        margin-top: 40px;
                    }
                    &__position {
                        margin-top: 0px;
                        .f-h6 {
                            font-size: 20px;
                            line-height: 140%;
                            letter-spacing: 0.2em;
                        }
                    }
                }
                .content-photo {
                    display: flex;
                    align-items: center;
                    height: 395px;
                    width: 315px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            @media (max-width: $lg) {
                &__content {
                    gap: 20px 30px;
                }
            }
            @media (max-width: $md) {
                margin-top: 0px;
                &__content {
                    display: flex;
                    flex-direction: column;
                    .content-photo {
                        margin-top: 30px;
                        justify-content: flex-start;
                        height: calc(395px - 10%);
                        width: calc(315px - 10%);
                        img {
                            width: 70%;
                            height: 100%;
                        }
                    }
                    .content-info {
                        &__test {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
        .we-offer-ostoja {
            position: relative;
            z-index: 999999;
            margin-top: 1166px;
            &__title {
                display: flex;
                justify-content: center;
            }
            &__content {
                margin-top: 95px;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 90px 10px;
                .content-boxs {
                    display: flex;
                    justify-content: space-between;
                    .content-box {
                        flex-basis: 22%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        p {
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
            }
            @media (max-width: 1199px){
                margin-top: 550px;
            }
            @media (max-width: $xxl) {
                .content-box {
                    p {
                        font-size: 17px;
                    }
                }
            }
            @media (max-width: $lg) {
                &__content {
                    flex-wrap: nowrap;
                    overflow: scroll;
                    max-width: 100%;
                    padding-bottom: 40px;
                    gap: 30px 10px;
                    margin-top: 30px;
                    .content-box {
                        position: relative;
                        min-width: 165px;
                        img {
                            width: 50%;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    /////////////////////////////////
    .about-ostoja-home {
        padding: 180px 0 0;
        width: 100%;
        height: auto;
        position: relative;
        .row {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: -65px;
                width: 105vw;
                height: 100%;
                border-top: 1px solid $gold;
                border-right: 1px solid $gold;
                border-bottom: 1px solid $gold;
            }
        }
        &__content {
            position: relative;
            padding: 140px 0 70px;
            min-height: 680px;
            .contnet-text {
                .text-main {
                    margin-top: 30px;
                }
            }
        }
        &__photo {
            position: absolute;
            top: -70px;
            right: 0;
            left: auto;
            width: 50vw;
        }
        @media (max-width: 1199px) {
            padding: 100px 0 0;
            .row {
                flex-direction: column-reverse;
            }
            &__content {
                position: relative;
                padding: 40px 0 40px;
                min-height: auto;
                .contnet-text {
                    .text-main {
                        margin-top: 30px;
                    }
                }
                .btn {
                    margin-top: 30px;
                }
            }
            &__photo {
                position: relative;
                top: 0px;
                right: 0;
                width: 100%;
                margin-bottom: 40px;
            }
        }
        @media (max-width: 767px) {
            padding: 50px 0 0;
            .row {
                padding: 0 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 15px;
                    width: calc(100% - 30px);
                    height: 100%;
                    border: 1px solid $gold;
                }
            }
            &__photo {
                margin-bottom: 30px;
            }
        }
    }

    ///////////////////////////
    .recreational-area {
        padding: 180px 0 0;
        width: 100%;
        height: auto;
        .row {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: -65px;
                width: 105vw;
                height: 100%;
                border-top: 1px solid $gold;
                border-left: 1px solid $gold;
                border-bottom: 1px solid $gold;
            }
        }
        &__border {
            border-top: 1px solid $gold;
            border-left: 1px solid $gold;
            border-bottom: 1px solid $gold;
        }
        &__content {
            position: relative;
            padding: 140px 0 70px;
            // left: -50px;
            min-height: 760px;
            .contnet-text {
                .text-main {
                    margin-top: 30px;
                }
            }
        }
        &__photo {
            position: relative;
            top: -70px;
            left: 0;
            width: 50vw;
        }
        @media (max-width: 1199px) {
            padding: 100px 0 0;
            &__content {
                position: relative;
                padding: 40px 0 40px;
                min-height: auto;
                .contnet-text {
                    .text-main {
                        margin-top: 30px;
                    }
                }
                .btn {
                    margin-top: 30px;
                }
            }
            &__photo {
                position: relative;
                top: 0px;
                right: 0;
                width: 100%;
                margin-bottom: 40px;
            }
        }
        @media (max-width: 767px) {
            padding: 50px 0 0;
            .row {
                padding: 0 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    width: calc(100% - 30px);
                    height: 100%;
                    border: 1px solid $gold;
                }
            }
            &__content {
                padding: 30px 0 30px;
            }
            &__photo {
                margin-bottom: 30px;
            }
        }
    }
    ///////////////////////////////////
    .choice {
        margin-top: 105px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        &__location,
        &__price,
        &__financing {
            position: relative;
            height: 420px;
            padding: 150px 20px 130px 85px;
            width: 33.33vw;
            .choice-photo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                transition: 0.2s;
                overflow: hidden;
                display: grid;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 420px;
                    width: 100%;
                    background-color: #003a70;
                    opacity: 0.7;
                    transition: 0.2s;
                }
                img {
                    height: 420px;
                    width: 100%;
                    // width: max-content;
                }
            }
            .choice-title,
            .choice-text {
                position: relative;
                h2,
                p {
                    transition: 0.2s;
                }
            }

            .choice-text {
                margin-top: 15px;
            }
            .choice-hover {
                position: absolute;
                height: 420px;
                transition: 0.2s;
            }

            &:hover > .choice-photo > img {
                filter: blur(15px);
            }
            &:hover .choice-hover {
                border: 1px solid $gold;
                top: 35px;
                left: 35px;
                width: 100%;
                z-index: 999;
            }
            &:hover:nth-child(2) .choice-hover {
                top: 35px;
                left: 35px;
                // width: calc(100% + 70px);
                width: calc(100% - 70px);
                border: 1px solid $gold;
                z-index: 999;
            }
            &:hover:nth-child(3) .choice-hover {
                top: 35px;
                left: -35px;
                width: 100%;
                border: 1px solid $gold;
                z-index: 999;
            }

            &:hover > .choice-photo::before {
                background: rgba(255, 255, 255, 0.5);
            }
            // &:hover > .choice-title > h2 {
            //     color: $grant;
            // }
            // &:hover > .choice-text > p {
            //     color: $grant;
            // }
        }
        @media (max-width: $xxl) {
            &__location,
            &__price,
            &__financing {
                height: 24vw;
                padding: 5% 35px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .choice-title {
                    .f-h2 {
                        font-size: 42px !important;
                    }
                }
                .choice-photo {
                    &::before {
                        content: "";
                        height: 24vw;
                    }
                    img {
                        height: 24vw;
                    }
                }
                .choice-hover {
                    height: 24vw;
                }
                &:hover .choice-hover {
                    border: 1px solid $gold;
                    top: 20px;
                    left: 20px;
                }
                &:hover:nth-child(2) .choice-hover {
                    top: 20px;
                    left: 20px;
                    width: calc(100% - 40px);
                }
                &:hover:nth-child(3) .choice-hover {
                    top: 20px;
                    left: -20px;
                }
            }
        }

        @media (max-width: $lg) {
            &__location,
            &__price,
            &__financing {
                .choice-title {
                    .f-h2 {
                        font-size: 28px !important;
                    }
                }
                .choice-text {
                    .text-main {
                        font-size: 13px !important;
                    }
                }
            }
        }
        @media (max-width: $md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            gap: 10px;
            margin: 40px 0;
            &__location,
            &__price,
            &__financing {
                height: 40vw;
                width: 60%;
                padding: 10% 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .choice-title {
                    .f-h2 {
                        font-size: 42px !important;
                    }
                }
                .choice-photo {
                    &::before {
                        content: "";
                        height: 40vw;
                    }
                    img {
                        height: 40vw;
                    }
                }
                .choice-hover {
                    height: 40vw;
                }
            }
        }
        @media (max-width: $sm) {
            &__location,
            &__price,
            &__financing {
                height: 60vw;
                width: calc(100% - 60px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .choice-photo {
                    &::before {
                        content: "";
                        height: 60vw;
                    }
                    img {
                        height: 60vw;
                    }
                }
                .choice-hover {
                    height: 60vw;
                }
            }
        }
        @media (max-width: 400px) {
            &__location,
            &__price,
            &__financing {
                .choice-title {
                    .f-h2 {
                        font-size: 28px !important;
                    }
                }
                .choice-text {
                    .text-main {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
    /////////////////////////////////
    .testimonial-kladno {
        position: relative;
        width: 100%;
        height: auto;
        background-color: $grant;
        padding-top: 130px;
        padding-bottom: 220px;
        &__title {
            width: 100%;
            display: flex;
            justify-content: center;
            .f-h5--white {
                width: 45%;
                text-align: center;
            }
        }
        &__container {
            width: 100%;
            display: flex;
            justify-content: center;
            .swiper {
                overflow: visible;
                height: auto;
            }
            .box {
                position: relative;
                margin-top: 70px;
                padding: 0 0 50px 50px;
                border-left: 1px solid $gold;
                border-bottom: 1px solid $gold;
                width: 50%;
                display: flex;
                justify-content: center;
                .swiper-wrapper {
                    .testimonial-kladno-box {
                        &__text {
                            position: relative;
                            margin-top: -8px;
                            p::first-letter {
                                font-family: $brygada;
                                font-size: 64px;
                                float: left;
                                padding: 15px 10px 0 0;
                                font-weight: 400;
                              }
                        }
                        &__name {
                            position: absolute;
                            left: -50px;
                            bottom: -150px;
                        }
                    }
                }

                .triangle {
                    position: absolute;
                    bottom: -100px;
                    border-right: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-top: 50px solid #b68b1d;
                    left: -1px;
                    z-index: 9;

                    &:before {
                        position: absolute;
                        content: "";
                        top: -50px;
                        border-right: 47px solid transparent;
                        border-bottom: 47px solid transparent;
                        border-top: 47px solid #0b345a;
                        right: -47px;
                        left: 1px;
                    }
                }
            }
        }

        .swiper-contenet-testimonial {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 100%;
            z-index: 99;
            top: 45%;
            .swiper-button-prev {
                position: relative;
                margin: 0px;
                width: 24px;
                height: 24px;
                padding: 36px;
                border: 2px solid transparent;
                background-image: url("../img/invest-kladno/localization/chevron-left-icon.png");
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.2s;
                &:hover {
                    border: 2px solid $gold;
                }
                &:after {
                    display: none;
                }
            }
            .swiper-button-next {
                position: relative;
                margin: 0px;
                width: 24px;
                height: 24px;
                padding: 36px;
                border: 2px solid transparent;
                background-image: url("../img/invest-kladno/localization/chevron-right-icon.png");
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.2s;
                &:hover {
                    border: 2px solid $gold;
                }
                &:after {
                    display: none;
                }
            }
        }
        .swiper-contenet-pagination {
            .swiper-pagination {
                position: relative;
                left: auto;
                top: 140px;
                bottom: auto;
                right: auto;
                transform: none;
                width: auto;
                .swiper-pagination-bullet {
                    background-color: $grey-slider;
                    width: 37px;
                    height: 3px;
                    border-radius: 0;
                    opacity: 1;
                }

                .swiper-pagination-bullet-active {
                    background-color: $gold;
                    width: 37px;
                    height: 3px;
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }
        @media (max-width: $xl) {
            &__title {
                .f-h5--white {
                    width: 70%;
                }
            }
            &__container {
                .box {
                    width: 70%;
                    .swiper-wrapper {
                        .testimonial-kladno-box {
                            &__text {
                                margin-top: -5px;
                            }
                            &__name {
                                left: 0px;
                                bottom: -120px;
                            }
                        }
                    }
                }
                .swiper-contenet-testimonial {
                    .swiper-button-prev,
                    .swiper-button-next {
                        margin: 0px;
                        padding: 20px;
                        &:hover {
                            border: 1px solid $gold;
                        }
                    }
                }
            }
            @media (max-width: $md) {
                padding-top: 60px;
                padding-bottom: 170px;
                &__title {
                    .f-h5--white {
                        width: 100%;
                        font-size: 26px;
                    }
                }
                &__container {
                    .box {
                        width: 100%;
                        margin-top: 40px;
                        padding: 0px 0 30px 20px;
                        .triangle {
                            bottom: -50px;
                            border-right: 25px solid transparent;
                            border-bottom: 25px solid transparent;
                            border-top: 25px solid #b68b1d;
                        }
                    }
                }
                .swiper-contenet-testimonial {
                    top: auto;
                    bottom: -110px;
                    width: 92%;
                    .swiper-button-prev,
                    .swiper-button-next {
                        padding: 10px;
                    }
                    .swiper-button-prev {
                        left: 0;
                    }
                    .swiper-button-next {
                        right: 0;
                    }
                }
                .swiper-contenet-pagination {
                    .swiper-pagination {
                        top: 105px;
                    }
                }
            }
        }
    }

    ////////////////////////////
    .about-company {
        padding: 105px 0 0;
        width: 100%;
        height: auto;

        .row {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: -65px;
                width: 105vw;
                height: 100%;
                border-top: 1px solid $gold;
                border-left: 1px solid $gold;
                border-bottom: 1px solid $gold;
            }
        }
        &__content {
            position: relative;
            padding: 140px 0;
            left: -45px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            height: auto;
            .content-text {
                height: auto;
            }
        }
        &__graphics {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 140px;
            padding-left: 100px;
            gap: 20px;
            height: auto;
            .company-logo {
                height: 66px;
                display: flex;
                align-items: center;
                img {
                    max-height: 40px;
                    width: auto;
                }
            }
            .company-awards {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px 6%;
                height: auto;
                margin-top: 35px;
                img {
                    max-height: 170px;
                    width: auto;
                }
            }
        }

        @media (max-width: $xl) {
            padding: 100px 0 0;
            &__content {
                position: relative;
                padding: 40px 0 40px;
                min-height: auto;
                left: 0px;
                .contnet-text {
                    .text-main {
                        margin-top: 30px;
                    }
                }
            }
            &__graphics {
                padding-top: 0px;
                padding-left: 0px;
                margin-bottom: 40px;
                gap: 20px;
                height: auto;
                .company-awards {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        @media (max-width: $md) {
            padding: 50px 0 0;
            .row {
                padding: 0 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    width: calc(100% - 30px);
                    height: 100%;
                    border: 1px solid $gold;
                }
            }
            &__content {
                padding: 40px 0 20px;
            }
            &__graphics {
                .company-awards {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0px;
                    img {
                        max-height: 17vw;
                    }
                }
            }
        }
        @media (max-width: $sm) {
            &__graphics {
                .company-awards {
                    img {
                        max-height: 20vw;
                    }
                }
            }
        }
    }
}

.reveal-kladno{
    overflow: hidden;
}