.ik-lokalizations {
    .hero1-location {
        position: relative;
        height: 2000px;
        width: 100%;
        background: url("../img/invest-kladno/localization/background-location.jpg");
        background-size: cover;
        background-position: right top;
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        z-index: 1;
        &__box {
            padding-top: 310px;
            padding-bottom: 170px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .box-text {
                margin-top: 30px;
            }
            .table-location {
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                .row-table {
                    display: flex;
                    width: 100%;
                    border-top: 1px solid #b68b1d;
                    &__title {
                        flex-basis: 50%;
                        padding-left: 3px;
                    }
                    &__time {
                        flex-basis: 30%;
                    }
                    &__distance {
                        flex-basis: 20%;
                    }

                    &:first-child {
                        border-top: 0px solid #b68b1d;
                    }
                    &:nth-child(2) {
                        position: relative;
                        .row-table__time {
                            p {
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 28%;
                                    left: 65px;
                                    background: url("../img/invest-kladno/localization/time-icon.png");
                                    height: 17px;
                                    width: 11px;
                                }
                            }
                        }
                    }
                    p {
                        padding: 13px 0;
                        text-align: start;
                    }
                }
            }
        }
        &__map {
            padding-top: 260px;
        }
        @media (max-width: $xl) {
            background-size: 1300px auto;
            background-position: right top;
            align-items: flex-start;
            &__box {
                padding-top: 75%;
                padding-bottom: 50px;
            }
            &__map {
                padding-top: 0px;
                padding-bottom: 50px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: -20vw;
                    width: 130vw;
                    height: 97%;
                    background: #003b5c;
                    z-index: -1;
                }
            }
        }
        @media (max-width: $lg) {
            margin-top: 80px;
            background-size: 1000px auto;
            background-position: right top;
            &__box {
                padding-top: 85%;
                padding-left: 15px;
                padding-right: 15px;
            }
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 128%;
                }
            }
        }
        @media (max-width: $md) {
            &__box {
                padding-top: 100%;
                padding-bottom: 30px;
                h2 {
                    font-size: 35px;
                }
                .table-location {
                    overflow-x: scroll;
                    padding-bottom: 10px;
                    margin-top: 30px;
                    .row-table {
                        min-width: 550px;
                        &__title {
                            min-width: 300px;
                        }
                        &__time {
                            min-width: 150px;
                        }
                        &__distance {
                            min-width: 100px;
                        }
                    }
                }
            }
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 115%;
                }
            }
        }
        @media (max-width: $sm) {
            background-size: 750px auto;
            &__box {
                padding-top: 85%;
            }
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 152%;
                }
            }
        }
        @media (max-width: 450px) {
            background-size: 600px auto;
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 181vw;
                }
            }
        }
        @media (max-width: 414px) {
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 186vw;
                }
            }
        }
        @media (max-width: 373px) {
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 193vw;
                }
            }
        }
        @media (max-width: 347px) {
            &__map {
                &::before {
                    content: "";
                    position: absolute;
                    height: 204vw;
                }
            }
        }
    }
    .map-location {
        margin-top: 70px;
        margin-bottom: -110px;
    }
}
