
.plots-list {
    margin-top: 120px;
    @media (max-width: $lg) {
        margin-top: 80px;
    }
    &__header {
        &__img {
            display: flex;
            justify-content: flex-end;
            @media (max-width: $xl) {
                display: none;
            }
        }
        .text-main {
            margin-top: 30px;
        }
    }
    &__sorting {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list {
            display: flex;
            gap: 50px;
        }
        &__header {
            position: relative;
            top: 6px;
        }
        span {
            font-size: 14px;
        }
        &__item {
            align-items: center;
            display: flex;
            &__direction {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
                button {
                    width: 16px;
                    height: 16px;
                    border: none;
                    cursor: pointer;
                    background: url(../img/invest-kladno/ico/next.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    &.asc {
                        transform: rotate(-90deg);
                    }
                    &.desc {
                        transform: rotate(90deg);
                    }
                }
            }
        }
        &__hideEmpty {
            .sold-wrap {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 14px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding-left: 25px;
            }

            /* Hide the browser's default checkbox */
            .sold-wrap input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 1px;
                left: 0;
                height: 15px;
                width: 15px;
                border: 1px solid $gold;
            }

            /* On mouse-over, add a grey background color */
            .sold-wrap:hover input ~ .checkmark {
                background-color: #f3f3f3;
            }

            /* When the checkbox is checked, add a blue background */
            .sold-wrap input:checked ~ .checkmark {
                background-color: #f3f3f3;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .sold-wrap input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .sold-wrap .checkmark:after {
                left: 6px;
                top: -4px;
                width: 6px;
                height: 12px;
                border: solid #b68b1d;
                border-width: 0px 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            // @media screen and (max-width: 768px) {
            //     justify-content: flex-start;
            //     margin: 20px 0;
            // }
        }
        @media (max-width: $xl) {
            margin-top: 70px;
        }
        @media (max-width: $lg) {
            padding-top: 50px;
            margin-top: 0px;
            width: auto;
            overflow-x: scroll;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &__list {
                min-width: 560px;
                gap: 40px;
                position: relative;
                height: 70px;
                div {
                    &:first-child {
                        position: absolute;
                        top: -25px;
                        left: 0;
                    }
                }
            }

            &__hideEmpty {
                min-width: 200px;
            }
        }
    }

    .plots-all {
        margin-top: 50px;
        gap: 40px;
        display: flex;
        flex-direction: column;
        .plots-list__item {
            &:nth-child(3n + 1) {
                .plot-quality {
                    img {
                        &:nth-child(1) {
                            display: block;
                        }
                    }
                }
            }
            &:nth-child(3n + 2) {
                .plot-quality {
                    img {
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
            &:nth-child(3n + 3) {
                .plot-quality {
                    img {
                        &:nth-child(3) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .plot-item {
        display: flex;
        border: 1px solid $gold;
        padding: 25px 40px;
        align-items: center;
        height: 200px;
        justify-content: space-between;
        position: relative;
        &.param--status--wolna {
            .plot-status {
                color: #397d03;
            }
        }
        &.param--status--zarezerwowana {
            .plot-status {
                color: #df9401;
            }
        }
        &.param--status--sprzedana {
            .plot-status {
                color: #b41818;
            }
        }
        .plot-status {
            padding-right: 20px;
            width: 200px;
            width: 13%;

            &__header {
                font-size: 16px;
            }
            &__number {
                font-family: $brygada;
                font-weight: normal;
                font-size: 56px;
                line-height: 66px;
            }
            &__status {
                margin-top: 10px;
                div {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        .plot-img {
            padding: 10px 0;
            margin: 0 10px;
            width: 14%;
            display: flex;
            justify-content: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .plot-info {
            display: flex;
            margin: 0 10px;
            font-size: 14px;
            width: 32%;
            margin-left: 3%;
            p {
                font-size: 14px;
                line-height: normal;
            }
            &__text {
                width: 160px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                div {
                    padding: 5px 0;
                }
                .plot-text__priceMonth {
                    font-weight: 600;
                }
            }
            &__desc {
                display: flex;
                flex-direction: column;
                gap: 8px;
                div {
                    padding: 5px 0;
                }
                .plot-desc__sufrace {
                    position: relative;
                    sup {
                        position: absolute;
                        top: 0;
                    }
                }
                .plot-desc__price {
                    display: flex;
                    &__afterDiscount {
                        margin-right: 20px;
                    }
                    &__beforeDiscount {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "";
                            width: calc(100% + 10px);
                            height: 1px;
                            left: -5px;
                            top: 10px;
                            background-color: #b41818;
                        }
                    }
                }
                .plot-desc__rate {
                    display: flex;
                    p {
                        font-weight: 600;
                    }
                    &__afterDiscount {
                        margin-right: 20px;
                    }
                    &__beforeDiscount {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "";
                            width: calc(100% + 10px);
                            height: 1px;
                            left: -5px;
                            top: 10px;
                            background-color: #b41818;
                        }
                    }
                }
            }
        }
        .plot-contact {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 27%;
            &__btn {
                width: 260px;
                height: 44px;
                border: 1px solid $gold;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                letter-spacing: 0.085em;
                color: $gold;
                background-color: white;
                transition: all 0.2s;
                font-weight: bold;
                span {
                    display: block;
                    margin-left: 15px;
                }
                &:hover {
                    color: white;
                    background-color: $gold;
                    svg {
                        path {
                            stroke: white;
                        }
                    }
                }
                &--gold {
                    color: white;
                    background-color: $gold;
                    &:hover {
                        background-color: white;
                        color: $gold;
                        svg {
                            path {
                                stroke: $gold;
                            }
                        }
                    }
                }
            }
        }
        .plot-quality {
            width: auto;
            width: 7%;
            img {
                display: none;
            }
        }
        .plot-difference {
            background: #0b345a;
            position: absolute;
            right: -1px;
            top: -22px;
            height: 44px;
            width: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-weight: 500;
                font-size: 16px;
                color: white;
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        @media (max-width: $xl) {
            height: fit-content;
            flex-wrap: wrap;
            gap: 25px;

            .plot-img {
                width: 30%;
            }
            .plot-contact {
                flex-direction: row;
                justify-content: space-between;
                gap: 8px;
                width: 100%;
            }
            .plot-quality {
                display: none;
            }
        }
        @media (max-width: $lg) {
            height: fit-content;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            .plot-status {
                flex-basis: 25%;
            }
            .plot-img {
                width: 30%;
                flex-basis: 30%;
                justify-content: flex-end;
            }
            .plot-info {
                flex-basis: 52%;
            }
            .plot-contact {
                flex-direction: row;
                justify-content: space-between;
                gap: 8px;
                width: 100%;
            }
        }
        @media (max-width: $md) {
            flex-direction: column;
            width: 100%;
            padding: 30px 15px 20px 15px;
            .plot-status {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .plot-img {
                width: 100%;
                max-width: 240px;
                justify-content: center;
            }
            .plot-info {
                width: 100%;
                justify-content: flex-start;
                font-size: 12px;
                p {
                    font-size: 12px;
                }
                &__text {
                    width: 115px;
                    gap: 5px;
                }
                &__desc {
                    gap: 5px;
                    .plot-desc {
                        &__rate {
                            &__beforeDiscount {
                                &:before {
                                    top: 7px;
                                }
                            }
                        }
                    }
                }
            }
            .plot-contact {
                flex-direction: column;
                justify-content: space-between;
                width: 220px;
                margin-left: 0;
                a {
                    width: auto;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .plot-difference {
                width: auto;
                height: 40px;
                padding: 0 15px;
                top: -20px;
                P {
                    font-size: 14px;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .plot-baner {
        height: 200px;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            h4 {
                font-weight: 600;
                font-size: 32px;
                color: white;
                font-family: $brygada;
            }
            .bnt {
                margin-top: 30px;
            }
        }
    }
    .plots-nav {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        position: relative;
        &__wrap {
            display: flex;
            &__name {
                color: $grant;
                font-size: 16px;
            }
        }
        button {
            border: none;
            background: none;
            &:hover {
                cursor: pointer;
            }
        }
        &__number {
            margin: 0 8px;
            font-size: 16px;
            color: $gold;
            &--active {
                color: $grant;
            }
        }
        &__prev,
        &__next {
            font-size: 16px;
            color: $gold;
        }
        &__prev {
            position: absolute;
            left: 15px;
            padding-left: 30px;
            background: url(../img/invest-kladno/ico/left.png) !important;
            background-repeat: no-repeat !important;
            background-position: center left !important;
        }
        &__next {
            position: absolute;
            right: 15px;
            padding-right: 30px;
            background: url(../img/invest-kladno/ico/next.png) !important;
            background-repeat: no-repeat !important;
            background-position: center right !important;
        }
        @media (max-width: $md) {
            &__prev {
                font-size: 12px;
                top: -25px;
                left: 15px;
            }
            &__next {
                font-size: 12px;
                top: -25px;
                right: 15px;
            }
            &__wrap {
                &__name {
                    font-size: 14px;
                }
            }
            &__number {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .plots-bottom-info {
        text-align: center;
        margin-top: 100px;
        &__logos {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px 70px;
            flex-wrap: wrap;
        }
        @media (max-width: $md) {
            margin-top: 50px;
            &__logos {
                margin-top: 40px;
            }
        }
    }
}



