.sec9 {
    margin-top: 140px;
    &__header {
        font-weight: bold;
        font-size: 48px;
        text-align: center;

        span {
            font-family: $font-main-serif;
            color: $gold;
        }
    }
    &__desc {
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: $dark-blue;
    }
    .sec9-contact {
        margin-top: 100px;
        &__img {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                width: 675px;
                height: 390px;
                background-image: url("../img/kropki-kontakt.png");
                top: calc(100% + 40px);
                right: 0px;
                background-size: contain;
            }
        }
    }
    .sec9-form {
        padding: 0px 40px 70px 70px;
        &__header {
            font-size: 30px;
            font-weight: bold;
            color: $dark-blue;
            a{
                transition: all 0.2s;
                &:hover{
                    color:$gold;
                }
            }
            p{
                margin-top:-8px;
            }
        }
    }
    @media (max-width: 992px) {
        .sec9-form {
            padding: 0;
        }
        .sec9-contact {
           &__img{
               display: none;
               &:before {
                display: none;
            }
           }
        }
    }
    @media (max-width: 767px) {
        margin-top: 50px;
        .sec9-contact {
            margin-top: 30px;
        }
        .sec9-form{
            &__header{
                text-align: center;
                font-size:22px;
                a{
                    display: block;
                    // margin-top:20px;
                }
                p{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
}
