.sec6 {
    .sec6-profit {
        margin-top: 150px;
        .profit-list {
            margin-top: 80px;
            background-color: $dark-blue;
            color: white;
            padding: 65px;
            &__header {
                font-weight: bold;
                font-size: 32px;
                line-height: 42px;
                color: white;
            }
            &__header2 {
                margin-top: 30px;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
            }
            &__list {
                margin: 0;
                padding: 0;
                margin-top: 30px;
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: relative;
                    padding-left: 50px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 160%;
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    strong {
                        font-weight: bold;
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        width: 25px;
                        height: 25px;
                        background-image: url("../img/list-ico.png");
                        left: 0;
                        top: 0;
                        background-size: contain;
                    }
                }
            }
        }
        &__img {
            position: relative;
            top: -10px;
            &:before {
                content: "";
                position: absolute;
                width: 268px;
                height: 268px;
                background-image: url("../img/sec1-patern.png");
                background-size: auto;
                background-repeat: no-repeat;
                bottom: -165px;
                right: -120px;
                z-index: -1;
            }
        }
    }
    .sec6-guarantee {
        margin-top: 110px;
        &__header {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: $dark-blue;
            text-align: center;
            // margin: 30px auto 0;
        }
        .sec6-guarantee-boxs {
            margin-top: 10px;
            .sec6-guarantee-box {
                margin-top: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__chart {
                    margin-top: 10px;
                }
            }
        }
        .sec6-guarantee-mobile {
            display: none;
            margin-top: 50px;
            padding-bottom: 50px;
            .swiper-slide{
                width: 220px;
            }
            .sec6-guarantee-box {

                display: flex;
                flex-direction: column;
                align-items: center;
                &__chart {
                    margin-top: 10px;
                }
            }
            .swiper-pagination-bullets{
                bottom:0;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background: #c4c4c4;
                    opacity: 1;
                    &.swiper-pagination-bullet-active {
                        background: $gold;
                    }
                }
            }
            
        }
    }
    .sec6-darkbg {
        margin-top: 120px;
        width: 100%;
        background-color: $dark-blue;
        padding: 100px 0 180px;
        &__content {
            color: white;
            max-width: 610px;
            width: 100%;
            position: absolute;
            top: 0;
            h3 {
                font-weight: bold;
                font-size: 32px;
                line-height: 42px;
            }
            p {
                margin: 0;
                margin-top: 30px;
            }
        }
    }
    .sec6-opinion {
        margin-top: -80px;
    }
    @media (max-width: 991px) {
        .sec6-profit {
            .profit-list {
                margin-top: 30px;
            }
            &__img {
                display: none;
            }
        }
        .sec6-darkbg {
            &__content {
                position: relative;
            }
            &__img {
                margin-top: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        
        .sec6-guarantee-boxs {
            .row {
                .col-md-6 {
                    &.order {
                        order: inherit !important;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .sec6-guarantee-mobile{
            display: block !important;
        }
        .sec6-guarantee-boxs{
            display: none;
        }
        .sec6-profit {
            margin-top: 50px;
            .profit-list {
                padding: 15px;
                &__header {
                    font-size: 22px;
                    line-height: normal;
                }
                &__header2 {
                    font-size: 18px;
                    line-height: normal;
                }
            }
        }
        .sec6-guarantee {
            margin-top: 50px;
            &__text {
                font-size: 18px;
                line-height: normal;
            }
        }
        .sec6-guarantee-boxs {
            .row {
                flex-wrap: inherit;
                overflow-x: scroll;
                gap: 20px;
                .col-md-6 {
                    min-width: fit-content;
                    .sec6-guarantee-box {
                        max-width: 240px;
                    }
                }
            }
        }
        .sec6-darkbg {
            padding: 30px 0 90px;
            margin-top: 40px;
            &__content {
                h3 {
                    font-size: 22px;
                    line-height: normal;
                }
            }
            &__img {
                margin-top: 30px;
            }
        }
        .sec6-opinion {
            margin-top: -50px;
        }
    }
}
