.sec5 {
    margin-top: 175px;
    .section-header {
        .row {
            align-items: center;
        }
        &__img {
            &:before {
                right: auto;
                bottom: auto;
                left: -184px;
                top: 45px;
            }
        }
    }
    .plots-wrap {
        margin-top: 120px;
        .plots {
            margin-top: 30px;
            .row {
                row-gap: 30px;
            }
            .plot {
                position: relative;
                display: block;
                &--empty {
                    pointer-events: none;
                    // opacity: 0.6;

                    .plot__img {
                        opacity: 0.6;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(196, 196, 190, 0.6);
                            left: 0;
                            top: 0;
                            z-index: 1;
                        }
                        &--empty {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 99999;
                            span{
                                font-weight: 600;
                                font-size:16px;
                            }
                        }
                    }

                    .plot__content {
                        background-color: rgba(196, 196, 190, 0.6);
                    }
                    // opacity: 0.6;
                }
                &--hidden {
                    display: none;
                }
                &:hover {
                    .plot__hover-info {
                        opacity: 1;
                    }
                }
                &__img {
                    display: flex;
                    position: relative;
                    img {
                        object-fit: contain;
                    }
                }
                &__logo {
                    position: absolute;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                }
                &__hover-info {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(183, 157, 99, 0.8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s;
                    span {
                        color: white;
                        position: relative;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        display: inline;
                        font-weight: bold;
                        padding-right: 40px;
                        background-image: url("../img/plot-ico2.png");
                        background-repeat: no-repeat;
                        background-position: right;
                        // border:1px solid red;
                    }
                }
                &__content {
                    padding: 18px 20px 20px 20px;
                    background-color: $milk-grey;
                }
                &__name {
                    margin: 0;
                    color: $dark-blue;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 160%;
                    padding-left: 30px;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 22px;
                        background-image: url("../img/ico-localization.png");
                        background-repeat: no-repeat;
                        background-position: left top;
                        left: 0;
                        top: 6px;
                    }
                }
                &__desc {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                }
                &__tag-wrap {
                    display: flex;
                }
                &__tag {
                    padding: 0 8px;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 160%;
                    color: white;
                    background-color: $gold;
                    margin-right: 4px;
                }
                &__price {
                    margin-left: 8px;
                    color: $dark-blue;
                    font-weight: 500;
                    font-size: 13.5px;
                    line-height: 160%;
                }
            }
            &__se-more {
                display: flex;
                justify-content: center;
                margin-top: 50px;
            }
        }
    }
    @media (max-width: 1199px) {
        .plots-wrap {
            .plots {
                .plot {
                    width: 100%;
                    max-width: 363px;
                    &__desc {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    &__price {
                        margin-left: 0;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        margin-top: 100px;
        .section-header {
            .row {
                flex-direction: column-reverse;
            }
            &__img {
                margin-top: 30px;
            }
            &__header {
                br {
                    display: none;
                }
            }
        }

        .plots-wrap {
            margin-top: 50px;
            .plots {
                .plot {
                    margin: 0 auto;
                    &__content {
                        // padding: 10px;
                        padding: 30px 15px;
                    }
                    &__name {
                        line-height: normal;
                        font-size: 16px;
                        padding-left: 20px;
                        &:before {
                            width: 14px;
                            height: 16px;
                            top: 2px;
                            background-size: contain;
                        }
                    }
                    &__desc {
                        margin-top: 15px;
                    }
                }
                &__se-more {
                    margin-top: 30px;
                }
            }
        }
    }
}
