.plotModal {
    border: 1px solid  $gold-dark;
    position: relative;
    padding: 36px;
    width: 780px;
    z-index: 99999999 !important;
    &__item {
        &.param--status--wolna {
            .plotModal-status {
                color: #397d03;
            }
        }
        &.param--status--zarezerwowana {
            .plotModal-status {
                color: #df9401;
            }
        }
        &.param--status--sprzedana {
            .plotModal-status {
                color: #b41818;
            }
        }
    }

    .plotModal-close {
        position: absolute;
        top: 20px;
        right: 18px;
        cursor: pointer;
        img {
            transition: all 0.2s;
        }
        &:hover {
            img {
                transform: rotate(180deg);
            }
        }
    }
    .plotModal-arrows {
        &__prev,
        &__next {
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        &__prev {
            left: 18px;
            background: url(../img/invest-kladno/ico/left.png);
            background-repeat: no-repeat;
            background-position: center left;
        }
        &__next {
            right: 18px;
            background: url(../img/invest-kladno/ico/next.png);
            background-repeat: no-repeat;
            background-position: center right;
        }
    }
    .plotModal-difference {
        background: $black-dark;
        position: absolute;
        left: -1px;
        top: -22px;
        height: 44px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-weight: 500;
            font-size: 16px;
            color: white;
            span {
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    .plotModal-content {
        display: flex;
        &__img {
            width: 200px;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__desc {
            margin-left: 30px;
        }
        .plotModal-status {
            display: flex;
            align-items: center;
            gap: 20px;
            &__number {
                font-family:$playfair;
                font-weight: normal;
                font-size: 56px;
                line-height: 66px;
            }
            &__status {
                div {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        .plotModal-info {
            display: flex;
            margin-top: 10px;
            font-size: 14px;
            p {
                font-size: 14px;
                line-height: normal;
            }
            &__text {
                width: 160px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                div {
                    padding: 5px 0;
                }
                .plot-text__priceMonth {
                    font-weight: 600;
                }
            }
            &__desc {
                display: flex;
                flex-direction: column;
                gap: 8px;
                div {
                    padding: 5px 0;
                }
                .plot-desc__sufrace {
                    position: relative;
                    sup {
                        position: absolute;
                        top: 0;
                    }
                }
                .plot-desc__price {
                    display: flex;
                    &__afterDiscount {
                        margin-right: 20px;
                    }
                    &__beforeDiscount {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "";
                            width: calc(100% + 10px);
                            height: 1px;
                            left: -5px;
                            top: 10px;
                            background-color: #b41818;
                        }
                    }
                }
                .plot-desc__rate {
                    display: flex;
                    p {
                        font-weight: 600;
                    }
                    &__afterDiscount {
                        margin-right: 20px;
                    }
                    &__beforeDiscount {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "";
                            width: calc(100% + 10px);
                            height: 1px;
                            left: -5px;
                            top: 10px;
                            background-color: #b41818;
                        }
                    }
                }
            }
        }
    }
    .plotModal-btn {
        display: flex;
        align-items: center;
        margin-top: 28px;
        &__clickplot {
            width: 200px;
            text-align: center;
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            flex: 1;
            &__btn {
                width: 230px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                letter-spacing: 0.085em;
                background-color: white;
                color: $gold-dark;
                background-color: white;
                transition: all 0.2s;
                font-weight: bold;
                border:1px solid $gold-dark;
                span {
                    display: block;
                    margin-left: 15px;
                    position: relative;
                
                }
                svg {
                    path {
                        stroke:  $gold-dark;
                    }
                }
                &:hover{
                    background-color: $gold-dark;
                    color:white;
                    svg {
                        path {
                            stroke:  white;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        padding: 30px 15px;
        left: 15px !important;
    }
    @media (max-width: 767px) {
        width: calc(100% - 30px);
        .plotModal-btn {
            margin-top: 20px;
            &__clickplot {
                display: none;
            }
            &__buttons {
                gap: 10px;
                flex-direction: column;
                align-items: center;
                &__btn {
                    width: 200px;
                    span {
                        margin-left: 15px;
                        font-size: 12px;
                    }
                }
            }
        }
        .plotModal-content {
            &__desc {
                margin-left: 0;
            }
            .plotModal-info {
                font-size: 12px;
                p {
                    font-size: 12px;
                }
                &__text {
                    width: 115px;
                    gap: 5px;
                }
                &__desc {
                    gap: 5px;
                    .plot-desc{
                        &__rate{
                            &__beforeDiscount{
                                &:before{
                                    top:7px;
                                }
                            }
                        }
                    }
                }
            }
            .plotModal-status {
                gap: 10px;
                &__status {
                    div {
                        span {
                            font-size: 14px;
                        }
                    }
                }
                &__number {
                    font-size: 48px;
                    line-height: normal;
                }
            }
        }
        .plotModal-difference {
            width: auto;
            height: 40px;
            padding: 0 15px;
            top: -20px;
            p {
                font-size: 14px;
                span {
                    font-size: 16px;
                }
            }
        }
        .plotModal-arrows {
            &__next {
                right: 4px;
            }
            &__prev {
                left: 4px;
            }
        }
    }
}
