.sg-about {
    .header {
        position: relative;
        height: 54vw;
        width: 100%;
        background: url(../img/sea-golf/about/background-header.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
    }
}
