.form-main {
    margin-top: 80px;
    @media (max-width: $xl) {
        margin-top: 30px;
    }
    p {
        margin: 0;
    }
    &__p {
        font-size: 11px;
        line-height: 18px;
        color: #122039;
        margin: 15px 0 20px 0 !important;
        &--obligatory {
            margin: 5px 0 0 0px !important;
        }
    }
    .rodo {
        margin-top: 20px;
        display: block;
    }
    &__obligatory {
        color: #c8220b;
    }
    form {
        .form-showhide{
            margin-top: 10px;
        }
        input[type="text"],
        input[type="email"] {
            -webkit-appearance: none;
            outline: none;

            height: 60px;
            width: 100%;
            border: 1px solid $Sand-Medium;
            background-color: white;
            margin-bottom: 22px;
            padding: 0 22px;
            font-size: 16px;
            color: $Sand-Medium;
            &:hover {
                border: 1px solid $Sand-Medium;
            }
            &:focus {
                border: 2px solid $Sand-Medium;
            }
            &.wpcf7-not-valid {
                border: 2px solid #c8220b;
            }
        }
        input[type="submit"] {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 0;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #ffffff;
            text-align: center;
            letter-spacing: 0.2em;
            border: 1px solid transparent;
            cursor: pointer;
            padding: 16px 22px;
            background-color: #bf9875;
            margin-top: 35px;
            &:hover {
                background: #916137;
            }
            @media (max-width: $sm) {
                font-size: 12px;
            }
        }
        input[type="email"] {
            margin-bottom: 14px;
        }
        .wpcf7-acceptance {
            label {
                display: flex;
                margin-bottom: 20px;
            }
        }
        .accept-box {
            user-select: none;
            display: flex;
            font-size: 20px;
            margin: 0 4px;
            .wpcf7-list-item {
                margin: 0;
            }
        }
        span.wpcf7-list-item {
            margin: 0;
        }
        input[type="checkbox"] {
            background: transparent;
            box-shadow: none;
            outline: 0 !important;
            outline: none !important;
            -webkit-tap-highlight-color: transparent !important;
            border: none;
            padding: 0;
            height: unset;
            width: unset;
            background-color: unset;
            position: relative;
            cursor: pointer;
            margin: 2px 16px 0 0;
            &:hover {
                &::before {
                    border: 2px solid $Sand-Medium;
                }
            }
            &:focus {
                &::before {
                    border: 2px solid $Sand-Medium;
                }
            }
            &::before {
                content: "";
                display: block;
                position: relative;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: white;
                border: 2px solid $Sand-Medium;
            }
            &:checked {
                &::before {
                    border: 2px solid $Sand-Medium;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 4px;
                    width: 9px;
                    height: 5px;
                    border-left: 2px solid $Sand-Medium;
                    border-bottom: 2px solid $Sand-Medium;
                    transform: rotate(-45deg);
                }
            }
        }
        .ajax-loader {
            position: absolute;
            bottom: 15px;
        }
        .wpcf7-list-item-label {
            user-select: none;
            display: inline-block;
            font-size: 11px;
            line-height: 18px;
            color: #122039;
        }
        .wpcf7-not-valid {
            border: 2px solid $Blue-Dark;
        }
        .wpcf7-not-valid-tip {
            color: $Blue-Dark;
            animation: alert linear 0.3s;
            font-size: 11px;
            font-size: 11px;
            position: absolute;
            width: 100%;
            display: flex;
            z-index: 9999;
            top: 35px;
        }
        .wpcf7-response-output {
            text-align: center;
            margin: 0;
            margin-bottom: 16px;
            padding: 13px;
        }
        .wpcf7-mail-sent-ng,
        .wpcf7-aborted {
            border: 2px solid $Blue-Dark;
        }
        .wpcf7-validation-errors,
        .wpcf7-acceptance-missing {
            border: 2px solid $Blue-Dark;
        }
        ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: $Sand-Medium;
            opacity: 1;
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: $Sand-Medium;
            opacity: 1;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: $Sand-Medium;
            opacity: 1;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: $Sand-Medium;
            opacity: 1;
        }
    }

    @media screen and (max-width: 768px) {
        &__p {
            font-size: 12px;
            margin: 10px 0 20px 0 !important;
            line-height: normal;
        }
        form {
            .wpcf7-list-item-label {
                font-size: 12px;
                line-height: normal;
            }
            .wpcf7-acceptance {
                label {
                    margin-bottom: 10px;
                }
            }
            input[type="submit"] {
                width: 170px;
                height: 42px;
                margin-top: 20px;
                padding: 7px 22px;
            }
            ::-webkit-input-placeholder {
                /* WebKit browsers */
                color: $Sand-Medium !important;
                opacity: 1;
                font-size: 14px;
            }
            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: $Sand-Medium !important;
                opacity: 1;
                font-size: 14px;
            }
            ::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: $Sand-Medium !important;
                opacity: 1;
                font-size: 14px;
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: $Sand-Medium !important;
                opacity: 1;
                font-size: 14px;
            }
        }
    }
}

// .form-plots {
//     display: none;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.9);
//     z-index: 999999999;
//     top: 0;
//     left: 0;
//     overflow-x: scroll;
//     &.form-main{
//         margin-top:0;
//     }
//     form {
//         position: absolute;
//         left: 50%;
//         top: 5%;
//         transform: translateX(-50%);
//         background: #efebeb;
//         padding: 15px 30px 15px 30px;
//         width: 600px;
//         max-width: 100%;

//         .form-plots-close {
//             position: absolute;
//             width: 30px;
//             height: 30px;
//             background: url(../img/invest-kladno/ico/close.png) no-repeat center;
//             position: absolute;
//             right: 25px;
//             top: 20px;
//             -webkit-transition: all 0.3s;
//             transition: all 0.3s;
//             &:hover {
//                 cursor: pointer;
//                 transform: rotate(180deg);
//             }
//         }
//         .form-plots-header {
//             font-weight: 400;
//             margin: 8px 0 15px 0;
//             font-family: $brygada;
//         }
//         .form-plots-text-number {
//             text-align: center;
//             margin-bottom: 15px;
//             font-weight: 600;
//             span {
//                 color: $Sand-Medium;
//             }
//         }
//         @media(max-width:767px){
//             padding:15px;
//             .form-plots-close {
//                 right:10px;
//             }
//         }
//     }
// }
