.karwia-nav {
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #1951a4 0%, rgba(25, 81, 164, 0) 100%);
    opacity: 1;
    position: fixed;
    z-index: 9999;
    &--sticky {
        height: 125px;
        background: $White;
        box-shadow: 0px 10px 10px -10px rgba(172, 171, 171, 0.418);
        transition: background-color 0.5s;
    }
    &__container {
        &__mobile {
            display: none;
            &.active {
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .btn-nav {
                        text-align: center;
                        &--active {
                            .text-main {
                                color: $Sand-Light-Very;
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    bottom: -13px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 50px;
                                    height: 3px;
                                    background-color: $Sand-Light-Very;
                                }
                            }
                        }
                    }
                    .logo-karwia {
                        width: 100%;
                        left: 0;
                        top: 0;
                        margin-right: 0vw;
                        margin-left: 0vw;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        background: url(../img/invest-karwia/home-page/logo-header-sticky.svg);
                        background-repeat: no-repeat;
                        background-size: 155px 75px;
                        background-position: center;
                        width: 100%;
                        height: 125px;
                        opacity: 1;
                        a {
                            width: 100%;
                            height: auto;
                        }
                        &::after {
                            content: "";
                            display: none;
                        }
                    }
                }
            }
        }
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            &.none {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                position: relative;
                .btn-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 3vw;
                    .btn-nav {
                        margin-top: 53px;
                        &--visibility {
                            visibility: hidden;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 23px;
                                height: 23px;
                                background: url(../img/invest-karwia/header/financing-arow.svg);
                                background-repeat: no-repeat;
                                background-size: cover;
                                right: -20px;
                                top: 50%;
                                transform: translateY(-50%);
                                transition: all 0.6s;
                                pointer-events: none;
                            }
                            &:hover.btn-nav--visibility::before {
                                content: "";
                                position: absolute;
                                transform: translateY(-80%);
                            }
                        }
                        &--sticky {
                            .text-main {
                                color: $Blue-Dark;
                            }
                        }
                        .text-main {
                            position: relative;
                            &:hover {
                                color: $Sand-Light-Very;
                            }
                            &:hover .btn-nav--visibility::before {
                                content: "";
                                position: absolute;
                                transform: translateY(-150%);
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 50%;
                                transform: scaleX(0);
                                height: 3px;
                                bottom: -13px;
                                left: 24% !important;
                                color: $Sand-Light-Very;
                                background: currentcolor;
                                transform-origin: right;
                                transition: transform 0.25s ease-out;
                            }
                            &:hover::before {
                                transform: scaleX(1);
                                transform-origin: left;
                            }
                        }
                        &--active {
                            .text-main {
                                color: $Sand-Light-Very;
                                position: relative;
                                &::before {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
                .logo-karwia {
                    margin-right: 6vw;
                    margin-left: 6vw;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    background: #12406a
                        url(../img/invest-karwia/home-page/logo-header.svg);
                    background-repeat: no-repeat;
                    background-size: 150px 180px;
                    background-position: center;
                    width: 215px;
                    height: 230px;
                    opacity: 1;
                    transform: translateY(-0px);
                    transition: all 0.4s ease;
                    cursor: pointer;
                    z-index: 1;
                    a {
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% + 20px);
                        height: calc(100% + 20px);
                        background: #022545;
                        opacity: 0.15;
                        z-index: -1;
                    }
                    &--sticky {
                        transform: translateY(-240px);
                    }
                }
                .logo-karwia-sticky {
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-59%);
                    width: 215px;
                    height: 125px;
                    background: url(../img/invest-karwia/home-page/logo-header-sticky.svg);
                    background-repeat: no-repeat;
                    background-size: 150px 62px;
                    background-position: center;
                    opacity: 0;
                    transition: all 0.4s ease;
                    a {
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &--sticky {
                        opacity: 1;
                    }
                }
            }
            .nav-sticky--sticky {
                height: 125px;
            }
        }
        &__burger {
            display: none;
            @media (max-width: $xl) {
                position: absolute;
                top: 32px;
                left: auto;
                right: 15px;
                transform: rotate(0deg);
                width: 30px;
                height: 30px;
                display: block;
                transition-duration: 0.3s;
                z-index: 999;
                &::after {
                    content: "";
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 170%;
                    height: 150%;
                    background: #0f3c64;
                    z-index: -1;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(170% + 10px);
                    height: calc(150% + 10px);
                    background: #022545;
                    opacity: 0.15;
                    z-index: -1;
                }
                cursor: pointer;
                span {
                    position: absolute;
                    left: 0;
                    transform: rotate(0deg);
                    height: 2px;
                    width: 100%;
                    display: block;
                    background: $White;
                    border-radius: 0px;
                    opacity: 1;
                    transition: 0.25s ease-in-out;
                }
                &--sticky {
                    &::after {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                    span {
                        background: $Sand-Dark;
                    }
                }
                &.open {
                    &::after {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                    span {
                        background: $Sand-Dark;
                    }
                }
                span:nth-child(1) {
                    top: 0px;
                }
                span:nth-child(2),
                span:nth-child(3) {
                    top: 10px;
                }
                span:nth-child(4) {
                    top: 20px;
                }
                &.open span:nth-child(1) {
                    top: 10px;
                    width: 0%;
                    left: 50%;
                }
                &.open span:nth-child(2) {
                    visibility: visible;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &.open span:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &.open span:nth-child(4) {
                    top: 9px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    @media (max-width: $xxxl) {
        &__container {
            &__box {
                ul {
                    .btn-box {
                        gap: 2vw;
                    }
                    .logo-karwia {
                        margin-right: 3vw;
                        margin-left: 3vw;
                    }
                }
            }
        }
    }
    @media (max-width: $xxl) {
        &__container {
            &__box {
                ul {
                    .btn-box {
                        .btn-nav {
                            .text-main {
                                font-size: 14px;
                            }
                            &--sticky {
                                .text-main {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .logo-karwia {
                        margin-right: 2.5vw;
                        margin-left: 2.5vw;
                        width: 150px;
                        height: 170px;
                        background-size: 100px 120px;
                    }
                    .logo-karwia-sticky {
                        position: absolute;
                        top: 0px;
                        width: 150px;
                        height: 125px;
                        background-size: 110px 45px;
                        opacity: 0;
                        &--sticky {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $xl) {
        height: auto;
        &--sticky {
            height: 80px;
            background: $White;
            box-shadow: 0px 10px 10px -10px rgba(172, 171, 171, 0.418);
            align-items: flex-start;
        }
        &__container {
            &__box {
                ul {
                    .btn-box {
                        display: none;
                    }
                    .logo-karwia {
                        position: absolute;
                        left: 15px;
                        top: 0;
                        margin-right: 0vw;
                        margin-left: 0vw;
                        width: 70px;
                        height: 65px;
                        background-size: 50px 57px;
                        opacity: 1;
                        &::after {
                            width: calc(100% + 10px);
                            height: calc(100% + 10px);
                        }
                    }
                    .logo-karwia-sticky {
                        position: absolute;
                        top: 8px;
                        left: 50px;
                        width: 100px;
                        height: 65px;
                        background-size: 100px 50px;
                        opacity: 0;
                        &--sticky {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &.active {
        background: $White;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
    }
}
