form {
    margin-top: 30px;
    input[type="text"],
    input[type="email"] {
        -webkit-appearance: none;
        outline: none;
        font-family: $font-main;
        height: 60px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #8d8d9a;
        background-color: white;
        margin-bottom: 22px;
        padding: 0 22px 0 50px;
        font-size: 16px;
        color: #8d8d9a;
        position: relative;
        &:hover {
            border-bottom: 2px solid $gold;
        }
        &:focus {
            border-bottom: 2px solid $gold;
            color: $dark-blue;
        }
        &.wpcf7-not-valid {
            border-bottom: 2px solid #9b0000;
        }
        &.value-true {
            color: $dark-blue;
            border-bottom: 2px solid $gold;
        }
    }
    span[data-name="your-name"],
    span[data-name="your-email"],
    span[data-name="your-phone"]{
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url("../img/ico-human.svg");
            background-size: contain;
            background-position: left center;
            left: 0;
            top: -4px;
            z-index: 9;
        }
    }
    span[data-name="your-email"]{
        &:before{
            background-image: url("../img/ico-message.svg");
            background-size: contain;
            background-position: left center;
        }
    }
    span[data-name="your-phone"]{
        &:before{
            background-image: url("../img/ico-phone.svg");
            background-size: contain;
            background-position: left center;
        }
    }
    input[type="submit"] {
        margin-top: 40px;
        background-color: #fff;
        &:hover {
            color: $gold;
        }
        &:not(:disabled):hover {
            background-color: $gold;
            color: white;
            cursor: pointer;
        }
    }
    .form-info {
        color: $dark-blue;
        font-size: 11px;
        font-weight: 400;
        margin-top: 30px;
        &--obligatory {
            margin-top: 20px;
        }
    }
    .form-stars {
        color: red;
    }
    p {
        margin: 0;
        padding: 0;
    }
    input[type="email"] {
        margin-bottom: 14px;
    }
    .wpcf7-acceptance {
        label {
            display: flex;
            margin-top: 30px;
        }
    }
    span.wpcf7-list-item {
        margin: 0;
    }
    input[type="checkbox"] {
        background: transparent;
        box-shadow: none;
        outline: 0 !important;
        outline: none !important;
        -webkit-tap-highlight-color: transparent !important;
        border: none;
        padding: 0;
        height: unset;
        width: unset;
        background-color: unset;
        position: relative;
        cursor: pointer;
        margin: 2px 16px 0 0;
        // width: 8px;
        &:hover {
            &::before {
                border: 2px solid #8d8d9a;
            }
        }
        &:focus {
            &::before {
                border: 2px solid #8d8d9a;
            }
        }
        &::before {
            content: "";
            display: block;
            position: relative;
            left: 0;
            width: 16px;
            height: 16px;
            background-color: white;
            border: 2px solid #8d8d9a;
        }
        &:checked {
            &:before {
                border: 2px solid #8d8d9a;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: 4px;
                width: 9px;
                height: 5px;
                border-left: 2px solid $gold;
                border-bottom: 2px solid $gold;
                transform: rotate(-45deg);
            }
        }
    }
    .ajax-loader {
        position: absolute;
        bottom: 15px;
    }
    .wpcf7-list-item-label {
        user-select: none;
        display: inline-block;
        font-size: 11px;
        line-height: normal;
        font-weight: 400;
        color: $dark-blue;
    }
    .wpcf7-not-valid {
        border: 2px solid #9b0000;
    }
    .wpcf7-not-valid-tip {
        color: #9b0000;
        animation: alert linear 0.3s;
        font-size: 11px;
        font-size: 11px;
        position: absolute;
        width: 100%;
        display: flex;
        z-index: 9999;
        top: 41px;
    }
    .wpcf7-response-output {
        text-align: center;
        margin: 0;
        margin-bottom: 16px;
        padding: 13px;
    }
    .wpcf7-mail-sent-ng,
    .wpcf7-aborted {
        border: 2px solid #9b0000;
    }
    .wpcf7-validation-errors,
    .wpcf7-acceptance-missing {
        border: 2px solid #9b0000;
    }
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #8d8d9a;
        opacity: 1;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #8d8d9a;
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #8d8d9a;
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #8d8d9a;
        opacity: 1;
    }
    @media (max-width: 767px) {
        input[type="text"],
        input[type="email"] {
            height: 30px;
            font-size: 12px;
           
        }
        .form-info {
            font-size:8px;
            margin-top: 0;
            &--obligatory {
                margin-top: 10px;
            }
        }
        .wpcf7-acceptance label {
            margin-top:7px;
        }
        input[type="submit"] {
            margin-top: 20px;
        }
        .wpcf7-list-item-label {
            font-size:8px;
        }
        span.your-email,
        span.your-name,
        span.your-phone{
            &::before{
                width: 20px;
                height: 20px;
                top:2px;
            }
        }
    }
}
