.ek-about {
    .header {
        position: relative;
        min-height: 70vw;
        width: 100%;
        background: url(../img/invest-karwia/about/background-header.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 999;
        margin-bottom: 270px;
        &__content {
            position: relative;
            top: 72px;
            margin: 0px;
            padding: 40px 70px 60px 60px;
            background: $Blue-Tint;
            &::before {
                content: "";
                position: absolute;
                bottom: -40px;
                right: 50%;
                transform: translateX(-50%);
                background: url("../img/invest-karwia/home-page/line-pion-ph-karwia.svg");
                background-size: contain;
                width: 4px;
                height: 80px;
            }
            .text-main {
                margin-top: 30px;
            }
        }
        @media (max-width: $xxxl) {
            &__content {
                padding: 35px 30px 35px 30px;
                .f-h3 {
                    font-size: 45px;
                }
                .text-main {
                    margin-top: 20px;
                }
            }
        }
        @media (max-width: $xl) {
            margin-bottom: 350px;
            &__content {
                top: 290px;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    right: 50%;
                    transform: translateX(-50%);
                    background: url("../img/invest-karwia/home-page/line-pion-ph-karwia.svg");
                    background-size: contain;
                    width: 3px;
                    height: 40px;
                }
            }
        }
        @media (max-width: $md) {
            margin-bottom: 390px;
            &__content {
                padding: 35px 15px 35px 15px;
                top: 375px;
                &::before {
                    content: "";
                    display: none;
                }
            }
        }
        @media (max-width: $sm) {
            margin-bottom: 72%;
            &__content {
                top: 65vw;
                .f-h3 {
                    font-size: 34px;
                }
            }
        }
    }

    .sec1-two-text,
    .sec3-two-text {
        margin-top: 105px;
        position: relative;
        .rotate-item-6 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url("../img/invest-karwia/home-page/icon-EK-sec3.svg");
            background-size: contain;
            width: 88px;
            height: 162px;
            z-index: 1;
        }
        &__box1,
        &__box2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
            }
        }
        &__box1 {
            &__photo {
                position: relative;
                display: flex;
                justify-content: flex-start;
                .photo-box1 {
                    position: relative;
                    max-height: 750px;
                    max-width: 650px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -41px;
                        right: -42px;
                        border: 1px solid #6892b8;
                        box-sizing: border-box;
                        transform: rotate(45deg);
                        width: 85px;
                        height: 85px;
                    }
                    .bottom-item-2 {
                        position: absolute;
                        top: 34px;
                        right: -28px;
                        border: 3px solid #d6b292;
                        box-sizing: border-box;
                        transform: translateY(0%) rotate(45deg);
                        width: 58px;
                        height: 58px;
                        z-index: 1;
                        animation: rhombus-fp-s3 4.5s infinite ease-in-out;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -40px;
                        right: 50%;
                        transform: translateX(-50%);
                        background: url("../img/invest-karwia/home-page/line-pion-ph-karwia.svg");
                        background-size: contain;
                        width: 4px;
                        height: 80px;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            &__content {
                margin-top: 45px;
                .content-title {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    .f-h3 {
                        margin-left: 10%;
                        margin-right: 7%;
                    }
                }
                .content-text {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    margin-top: 20px;
                    .text-main {
                        margin-left: 10%;
                        margin-right: 8%;
                    }
                }
                .btn {
                    position: relative;
                    right: 50px;
                    margin-top: 60px;
                }
            }
        }
        &__box2 {
            flex-direction: column-reverse;
            &__content {
                width: 100%;
                .content-title {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    .f-h3 {
                        margin-left: 8%;
                        margin-right: 7%;
                    }
                }
                .content-text {
                    margin-top: 30px;
                    width: 100%;
                    .text-main {
                        margin-left: 8%;
                        margin-right: 13%;
                    }
                }
                .btn {
                    position: relative;
                    right: -50px;
                    margin-top: 80px;
                }
            }
            &__photo {
                margin-top: 120px;
                display: flex;
                justify-content: flex-end;
                .photo-box2 {
                    position: relative;
                    max-height: 750px;
                    max-width: 650px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -40px;
                        right: 50%;
                        transform: translateX(-50%);
                        background: url("../img/invest-karwia/home-page/line-pion-ph-karwia.svg");
                        background-size: contain;
                        width: 4px;
                        height: 80px;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width: $xl) {
            margin-top: 80px;
            .rotate-item-6,
            .rotate-item-7{
                display: none;
            }
            &::after {
                content: "";
                display: none;
            }
            &__box1 {
                &__photo {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .photo-box1 {
                        .bottom-item-2 {
                            content: "";
                            display: none;
                        }
                        &::after {
                            content: "";
                            display: none;
                        }
                        &::before {
                            content: "";
                            display: none;
                        }
                    }
                }
                &__content {
                    margin-top: 35px;
                    align-items: flex-start;
                    .content-title {
                        .f-h3 {
                            width: 100%;
                            margin: 0;
                        }
                    }
                    .content-text {
                        margin-top: 15px;
                        .text-main {
                            width: 100%;
                            margin-left: 0%;
                        }
                    }
                    .btn {
                        right: 0px;
                        margin: 40px auto 10px;
                    }
                }
            }
            &__box2 {
                flex-direction: column;
                &__content {
                    margin-top: 35px;
                    align-items: flex-start;
                    .content-title {
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;
                        .f-h3 {
                            margin-left: 0%;
                        }
                    }
                    .content-text {
                        margin-top: 15px;
                        .text-main {
                            width: 100%;
                            margin: 0;
                        }
                    }
                    .btn {
                        right: 0px;
                        margin: 40px auto 10px;
                    }
                }
                &__photo {
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    .photo-box2 {
                        position: relative;
                        max-height: 750px;
                        max-width: 650px;
                        &::after {
                            content: "";
                            display: none;
                        }
                        &::before {
                            content: "";
                            display: none;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        @media (max-width: $lg) {
            margin-top: 50px;
            &__box1,
            &__box2 {
                &__content {
                    margin-top: 20px;
                    .btn {
                        right: 0px;
                        margin: 20px auto 10px;
                    }
                }
            }
        }
    }

    .sec3-two-text {
        .rotate-item-7 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url("../img/invest-karwia/home-page/icon-EK-sec3.svg");
            background-size: contain;
            width: 88px;
            height: 162px;
            z-index: 1;
        }
        &__box1 {
            &__photo {
                .photo-box1 {
                    .bottom-item-3 {
                        position: absolute;
                        top: 34px;
                        right: -28px;
                        border: 3px solid #d6b292;
                        box-sizing: border-box;
                        transform: translateY(0%) rotate(45deg);
                        width: 58px;
                        height: 58px;
                        z-index: 1;
                        animation: rhombus-fp-s3 4.5s infinite ease-in-out;
                    }
                }
            }
        }
        &__box2 {
            &__photo {
                .photo-box2 {
                    .rotate-item-4 {
                        position: absolute;
                        top: 43%;
                        left: -80px;
                        background: url("../img/invest-karwia/about/icon-about-sec3.svg");
                        background-size: contain;
                        width: 160px;
                        height: 160px;
                    }
                }
            }
        }
        @media (max-width: $xl) {
            &__box1 {
                &__photo {
                    .photo-box1 {
                        .bottom-item-3 {
                            display: none;
                        }
                    }
                }
            }
            &__box2 {
                &__photo {
                    .photo-box2 {
                        .rotate-item-4 {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .sec2-comfort {
        margin-top: 130px;
        padding: 130px 15px 90px 15px;
        min-height: 66vw;
        position: relative;
        background: url(../img/invest-karwia/about/background-about-sec2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .rotate-item-3 {
            position: absolute;
            top: -83px;
            left: 50%;
            transform: translateX(-50%);
            background: url("../img/invest-karwia/home-page/Element-Circle-footer.svg");
            background-size: contain;
            width: 160px;
            height: 160px;
        }
        &__title {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__slider {
            display: flex;
            width: 85%;
            padding: 85px 0 20px 0;
            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    .slider-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 300px;
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
        &__slider-nav {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 100%;
            z-index: 1;
            top: 145px;
            left: 0;
            .swiper-button-prev {
                position: relative;
                width: 24px;
                height: 24px;
                padding: 26px;
                border: 1px solid #ffffff;
                box-sizing: border-box;
                background: #d6b29200
                    url("../img/invest-karwia/about/left-icon.svg");
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                transition: all 0.2s;
                &:after {
                    display: none;
                }
                &:hover {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    padding: 26px;
                    border: 1px solid #ffffff;
                    box-sizing: border-box;
                    background: #d6b2922c
                        url("../img/invest-karwia/about/left-icon.svg");
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                }
            }
            .swiper-button-next {
                position: relative;
                width: 24px;
                height: 24px;
                padding: 26px;
                border: 1px solid #ffffff;
                box-sizing: border-box;
                background-image: url("../img/invest-karwia/about/right-icon.svg");
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                transition: all 0.2s;
                &:after {
                    display: none;
                }
                &:hover {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    padding: 26px;
                    border: 1px solid #ffffff;
                    box-sizing: border-box;
                    background: #d6b2922c
                        url("../img/invest-karwia/about/right-icon.svg");
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                }
            }
        }
        @media (max-width: $xl) {
            min-height: 860px;
            &__slider {
                width: 80%;
                .swiper-wrapper {
                    .swiper-slide {
                        .slider-box {
                            width: 250px;
                        }
                    }
                }
            }
        }
        @media (max-width: $lg) {
            min-height: 650px;
            margin-top: 80px;
            padding: 70px 15px 50px 15px;
            .rotate-item-3 {
                position: absolute;
                top: -50px;
                left: 50%;
                width: 100px;
                height: 100px;
            }
            &__slider {
                width: 70%;
                padding: 30px 0 20px 0;
            }
            &__slider-nav {
                top: 110px;
                .swiper-button-prev {
                    position: relative;
                    padding: 22px;
                    &:hover {
                        position: relative;
                        padding: 22px;
                    }
                }
                .swiper-button-next {
                    position: relative;
                    padding: 22px;
                    &:hover {
                        position: relative;
                        padding: 22px;
                    }
                }
            }
        }
        @media (max-width: $md) {
            &__slider {
                width: 45%;
                .swiper-wrapper {
                    .swiper-slide {
                        .slider-box {
                            width: 230px;
                        }
                    }
                }
            }
        }
        @media (max-width: $sm) {
            &__title {
                .f-h3 {
                    font-size: 29px;
                }
            }
        }
    }
}
