.ek-localization {
    .header {
        position: relative;
        height: 1280px;
        width: 100%;
        background: #004870
            url("../img/invest-karwia/localization/background-header-localization.jpg");
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        &::after {
            content: "";
            position: absolute;
            bottom: 145px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 24px;
            height: 24px;
            background: url("../img/invest-karwia/localization/scroller-down.svg");
            background-size: cover;
            animation: scroller 2.5s infinite ease-in-out;
            z-index: 1;
        }
        @keyframes scroller{
            0% {
                transform: translate(-50%, 0%);
            }
            50% {
                transform: translate(-50%, 180%);
            }
            100% {
                transform: translate(-50%, 0%);
            }
        }
        @media (max-width: $lg) {
            height: 665px;
        }
        @media (max-width: $md) {
            height: 520px;
        }
    }

    .sec1-info-map {
        position: relative;
        margin-top: -355px;
        height: auto;
        width: 100%;
        background: linear-gradient(
            177.26deg,
            rgba(85, 209, 187, 0) 6.87%,
            rgba(0, 166, 189, 0.65) 13.04%,
            #088fad 20.36%,
            #005483 51.26%,
            #00476f 104.5%
        );
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            width: 85px;
            height: 85px;
            border: 1px solid #6892b8;
            box-sizing: border-box;
        }
        .bottom-item-4 {
            position: absolute;
            bottom: -50px;
            left: 50%;
            width: 58px;
            height: 58px;
            transform: translate(-50%, 0%) rotate(45deg);
            border: 3px solid #d6b292;
            box-sizing: border-box;
            animation: rhombus 4s infinite ease-in-out;
            z-index: 1;
        }

        &__box {
            padding-top: 280px;
            padding-bottom: 130px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .f-h3 {
                width: 180%;
            }
            .box-text {
                margin-top: 30px;
            }
            &__table-location {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                .row-table {
                    width: 100%;
                    display: flex;
                    border-top: 1px solid #b68b1d;
                    &__title {
                        padding-left: 3px;
                        margin: auto;
                        flex-basis: 61%;
                        p {
                            padding-right: 6vw !important;
                            padding-left: 15px !important;
                        }
                    }
                    &__time {
                        flex-basis: 21%;
                        margin: auto;
                    }
                    &__distance {
                        flex-basis: 18%;
                        margin: auto;
                    }
                    &:first-child {
                        border-top: 0px solid #b68b1d;
                    }
                    &:nth-child(2) {
                        position: relative;
                        .row-table__time {
                            p {
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 18px;
                                    left: 70px;
                                    height: 17px;
                                    width: 11px;
                                    background: url("../img/invest-karwia/localization/time-icon.png");
                                }
                            }
                        }
                    }
                    p {
                        padding: 12px 0;
                        text-align: start;
                        line-height: 22px;
                    }
                }
            }
        }
        &__map {
            position: relative;
            left: -45px;
            padding-bottom: 150px;
            width: 110%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            .logo-karwia {
                position: relative;
                top: 6%;
                left: 14%;
                width: 23%;
                height: auto;

            }
        }
        @media (max-width: $xl) {
            margin-top: -475px;
            &__box {
                padding-top: 40%;
                padding-bottom: 50px;
                .f-h3 {
                    width: 100%;
                }
            }
            &__map {
                position: relative;
                left: 0px;
                padding-top: 0px;
                padding-bottom: 130px;
                width: 100%;
            }
        }
        @media (max-width: $lg) {
            margin-top: -375px;
            &::after {
                width: 60px;
                height: 60px;
            }
            .bottom-item-4 {
                bottom: -33px;
                width: 40px;
                height: 40px;
            }
        }
        @media (max-width: $md) {
            margin-top: -340px;
            &__box {
                padding-top: 250px;
                padding-bottom: 25px;
                .f-h3 {
                    font-size: 32px;
                    line-height: 42px;
                }
                .box-text {
                    margin-top: 20px;
                }
                &__table-location {
                    .row-table {
                        &:nth-child(2) {
                            .row-table__time {
                                p {
                                    position: relative;
                                    &::after {
                                        top: 18px;
                                        left: 45px;
                                        height: 16px;
                                        width: 10px;
                                    }
                                }
                            }
                        }
                        p {
                            font-size: 12px;
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .sec2-icons {
        margin-top: 130px;
        .row-background {
            position: relative;
            padding: 90px 0;
            left: 15px;
            width: 100%;
            height: auto;
            background-color: $Sand-Tint;
        }
        &__content {
            margin: 50px auto 0;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 75px;
            .content-boxs {
                display: flex;
                justify-content: space-around;
                .content-box {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    flex-basis: 17%;
                    img {
                        width: 120px;
                        height: auto;
                    }
                    .text-main {
                        text-align: center;
                    }
                }
            }
            .content-boxs:nth-child(1) {
                .content-box {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -47%;
                        right: -40%;
                        width: 80px;
                        height: 80px;
                        background: url("../img/invest-karwia/home-page/icon-plus-ph-sec2.svg");
                        background-size: contain;
                    }
                }
                .content-box:last-child {
                    &::after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
            }
        }
        @media (max-width: $xxl) {
            .row-background {
                padding: 30px 0 50px;
            }
            &__content {
                width: 100%;
            }
        }
        @media (max-width: $lg) {
            margin-top: 80px;
            &__content {
                margin-top: 40px;
                padding-bottom: 20px;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                overflow-x: scroll;
                .content-boxs {
                    display: flex;
                    justify-content: flex-start;
                    .content-box {
                        min-width: 190px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        img {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
                .content-boxs:nth-child(1) {
                    .content-box {
                        &::after {
                            bottom: -39%;
                            right: -13%;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            &__content::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 4px;
            }
            &__content::-webkit-scrollbar {
                height: 4px;
            }
            &__content::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: $Sand-Dark;
            }
        }
        @media (max-width: $md) {
            .row-background {
                padding: 5px 0 30px;
            }
        }
    }

    .sec3-map {
        margin-top: 85px;
        position: relative;
        display: flex;
        justify-content: center;
        @media (max-width: $lg) {
            margin-top: 45px;
        }
    }
    @keyframes rhombus{
        0% {
            transform: translate(-50%, 0%) rotate(45deg);
        }
        50% {
            transform: translate(-50%, -35%) rotate(45deg);
        }
        100% {
            transform: translate(-50%, 0%) rotate(45deg);
        }
    }
   
}
