@import "invest-osadadziwnowek/abstracts/_variables";

@import "invest-osadadziwnowek/components/_form";
@import "invest-osadadziwnowek/components/_morebtn";
@import "invest-osadadziwnowek/components/_secicons";
@import "invest-osadadziwnowek/components/_seclast";
@import "invest-osadadziwnowek/components/_secrepeats";

@import "invest-osadadziwnowek/layout/custombstrp";
@import "invest-osadadziwnowek/layout/footer";
@import "invest-osadadziwnowek/layout/header";

@import "invest-osadadziwnowek/pages/about";
@import "invest-osadadziwnowek/pages/contact";
@import "invest-osadadziwnowek/pages/front-page";
@import "invest-osadadziwnowek/pages/gallery";
@import "invest-osadadziwnowek/pages/localization";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }
  body {
    font-family: $font-main;
    overflow: hidden !important;
  }


// @import "invest-kladno/global/colors";
// @import "invest-kladno/global/typography";
// @import "invest-kladno/global/reset";
// @import "invest-kladno/global/grid";
// @import "invest-kladno/global/btn";
// @import "invest-kladno/global/form-showhide";


// @import "invest-kladno/template-page/home-page";
// @import "invest-kladno/template-page/about-kladno";
// @import "invest-kladno/template-page/location-kladno";
// @import "invest-kladno/template-page/gallery-kladno";
// @import "invest-kladno/template-page/contact-kladno";
// @import "invest-kladno/template-page/plot-prices-list";
// @import "invest-kladno/template-page/plot-prices-modal";
// @import "invest-kladno/template-page/plot-prices";


// @import "invest-kladno/template-layout/preloader";
// @import "invest-kladno/template-layout/header";
// @import "invest-kladno/template-layout/footer";
// @import "invest-kladno/template-layout/form";
