@import "invest-kladno/global/colors";
@import "invest-kladno/global/typography";
@import "invest-kladno/global/reset";
@import "invest-kladno/global/grid";
@import "invest-kladno/global/btn";


@import "invest-kladno/template-page/home-page";
@import "invest-kladno/template-page/about-kladno";
@import "invest-kladno/template-page/location-kladno";
@import "invest-kladno/template-page/gallery-kladno";
@import "invest-kladno/template-page/contact-kladno";


@import "invest-kladno/template-layout/header";
@import "invest-kladno/template-layout/footer";
