@import "invest-karwia/global/colors";
@import "invest-karwia/global/typography";
@import "invest-karwia/global/reset";
@import "invest-karwia/global/grid";
@import "invest-karwia/global/btn";
@import "invest-karwia/global/form-showhide";


@import "invest-karwia/template-page/home-page";
@import "invest-karwia/template-page/about-karwia";
@import "invest-karwia/template-page/location-karwia";
@import "invest-karwia/template-page/gallery-karwia";
@import "invest-karwia/template-page/contact-karwia";
@import "invest-karwia/template-page/plot-prices-list";
@import "invest-karwia/template-page/plot-prices-modal";
@import "invest-karwia/template-page/plot-prices";


@import "invest-karwia/template-layout/footer";
@import "invest-karwia/template-layout/form";
@import "invest-karwia/template-layout/form-plots";
@import "invest-karwia/template-layout/header";
@import "invest-karwia/template-layout/preloader";
