@import "bootstrap";
@import "fancybox";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
    font-family: "AkzidGrtskProExt";
    src: url("../img/invest-enklawa-dziwnowek/fonts/AkzidGrtskProLig.ttf")
        format("Truetype");
    font-weight: normal;
    font-style: normal;
}

$colorBlue: #17222e;
$colorGold: #b99665;
$fontLato: "Lato", sans-serif;
$fontOpen: "Open Sans", sans-serif;
$fontLora: "Lora", serif;

body {
    font-family: $fontLato;
    font-size: 14px;
    background: #eaeaea;
    margin: 0;
    padding: 0;
}
body > footer > div > div > div:nth-child(-n + 3) > ul > li:nth-child(n + 1) {
    margin-bottom: 0;
}

input[type="checkbox"] {
    width: 20px !important;
    min-width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
}

.wpcf7-list-item-label {
    position: relative;
    top: 3px;
    left: 17px;
}

body
    > .listSection
    .slick-slider
    > .slick-list
    > .slick-track
    > .slick-slide
    > .box
    > img,
body
    > .listSection
    .slick-slider
    > .slick-list
    > .slick-track
    > .slick-slide
    > img {
    margin: 0 auto 22px auto;
}

body
    > div.widget.widget-areaslist
    > div.introSection
    > div.description
    > div.arrow
    > img {
    margin: 0 auto;
}
ul li .footer-style {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #929da2;
    text-transform: lowercase;
}

a:focus {
    text-decoration: none;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

@import "slick";
@import "../template-page/home-page";
@import "../template-page/about";
@import "../template-page/location";
@import "../template-page/prices";
@import "../template-page/gallery";
@import "../template-page/contact";
