.form-showhide {
    &__p {
        font-size: 11px;
        line-height: normal;
        &--info {
            margin-top: 20px !important;
        }
        &--display {
            margin-top: 2px !important;
        }
    }
    .rodo {
        margin-top: 0 !important;
    }
    &__btn {
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
    }
    &__information {
        margin-top: 10px !important;
        display: none;
        &--active {
            margin-top: 10px;
            display: block;
        }
    }
    .wpcf7-acceptance {
        label {
            margin-top: 20px !important;
            margin-bottom: 0 !important;
        }
    }
    &__obligatory {
        color: red;
    }
    .wpcf7-list-item input[type="checkbox"] {
        height: 0 !important;
    }
    .wpcf7-list-item-label {
        position: relative;
        top: 3px;
    }
}
