.location-page {

    .dziwnowek-localization-swiper {
        position: absolute;
        top: 43%;
        left: 0;
        right: 0;
        height: 0px;
        width: 100%;
        padding: 0 35px;
        display: flex;
        justify-content: space-between;
        .swiper-button-prev,
        .swiper-button-next {
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          height: 90px;
          width: 84px;
          outline: none;
          @media screen and (max-width: $sm){
              background-color: rgba($color: #141c09, $alpha: 0);
          }
  
          span {
            display: none;
          }
          &::after {
            content: "";
            display: block;
            background-image: url("../img/invest-dziwnowek/arrow-right.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            width: 22px;
            height: 22px;
            display: block;
            transition: all ease-in-out 0.1s;
          }
        }
  
        .swiper-button-prev {
            left: -33px;
          &::after {
            transform: rotate(180deg);
          }
          &:hover::after {
            transform: rotate(180deg) translateX(2px);
          }
          &:active::after {
            transform: rotate(180deg) translateX(4px);
          }
        }
        .swiper-button-next {
            right: -33px;
          &:hover::after {
            transform: translateX(2px);
          }
          &:active::after {
            transform: translateX(4px);
          }
        }
      }



    .sec1 {
        // margin-top: 0;
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #184366;
        padding: 32.552vw 0 152px 0;
        &__title {
            font-family: $font-second;
            font-size: 50px;
            font-weight: bold;
            line-height: 1.24;
            color: white;
            margin: 0;
        }
        &__text {
            margin: 42px 0;
            font-size: 16px;
            line-height: 1.94;
            color: white;
        }
        &__img-container {
            display: flex;
            align-items: flex-end;
        }
        &__img-box {
            margin-top: 48px;
        }
        &__img {
            width: 100%;
            max-width: 680px;
        }
        .distances {
            width: 100%;
            font-size: 16px;
            &__col {
                &--1 {
                    width: 60;
                }
                &--2 {
                    width: 27%;
                }
                &--3 {
                    width: 18%;
                }
            }
            &__text {
                color: white;
                &--walk::after {
                    content: url("../img/walk.svg");
                    width: 10px;
                    margin: 5px;
                    height: auto;
                }
            }
        }
    }
    .zoom-map {
        margin: 0 0 -5px 0;
        padding: 0;
        &__img {
            width: 100%;
        }
    }
    @media screen and (max-width: $lg - 1px) {
        .sec1 {
            padding: 32.552vw 0 64px 0;
        }
        &__title {
            font-size: 42px;
        }
    }
    @media screen and (max-width: $sm - 1px) {
        .sec1 {
            padding: 32.552vw 0 32px 0;
            &__title {
                font-size: 32px;
            }
            &__text {
                font-size: 14px;
                line-height: 1.84;
            }
            .distances {
                font-size: 12px;
            }
        }
    }
    @media screen and (min-width: 1400px) {
        .container {
          max-width: 1360px !important;
        }
    }
}
