footer {
    .footer-top {
        display: flex;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        height: 485px;
        background: url("../img/invest-kladno/home-page/home-footer-view.jpg");
        background-size: auto;
        background-position: center;

        &__content {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: $sm) {
            margin-top: 60px;
            height: 300px;
            padding: 0 30px;
            &__content {
                align-items: flex-start;
            }
        }
    }
    .footer {
        background-color: $granat-background;
        width: 100%;
        height: auto;
        padding: 80px 0 55px;
        .footer-box {
            margin: 40px 0 0;
            &__title {
                height: 25px;
            }
            &__info {
                margin: 10px 0 0;
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                }
            }
            &__map,
            &__office {
                a {
                    transition: 0.2s;
                    width: fit-content;
                    &:hover {
                        color: $Sand-Light-Very;
                    }
                }
            }
            &__map {
                a {
                    margin-bottom: 10px;
                }
            }
        }
        &__text-bottom {
            border-top: 1px solid #22374b;
            padding-top: 25px;
            margin: 30px 0 0;
            display: flex;
            justify-content: flex-start;
        }
        &__text-created {
            margin: 65px 0 0;
            display: flex;
            justify-content: center;
            a {
                transition: 0.2s;
                width: fit-content;
                &:hover {
                    color: $Sand-Light-Very;
                }
            }
        }
        @media (max-width: 1399px) {
            .footer-box {
                &__title,
                &__info,
                a {
                    p {
                        font-size: 13px;
                    }
                    font-size: 13px;
                }
            }
            .footer-box {
                &__map {
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            padding: 30px 0 30px;
            .row {
                padding: 0 15px;
            }
            &__text-created {
                margin: 30px 0 0;
            }
        }
    }
}
